body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-lato: Lato;
  --font-inter: Inter;

  /* font sizes */
  --font-size-11xl: 30px;
  --font-size-lg: 18px;
  --font-size-5xl: 24px;
  --font-size-6xl: 25px;
  --font-size-xl: 20px;
  --font-size-mid: 17px;
  --font-size-sm-7: 13.7px;
  --font-size-xl-4: 20.4px;
  --font-size-base: 16px;
  --font-size-6xl-1: 25.1px;
  --font-size-xl-1: 20.1px;
  --font-size-3xl-4: 22.4px;
  --font-size-41xl: 60px;
  --font-size-17xl: 36px;
  --font-size-29xl: 48px;
  --font-size-16xl: 35px;
  --font-size-21xl: 40px;
  --font-size-8xl-4: 27.4px;
  --font-size-2xl: 21px;
  --font-size-9xl: 28px;
  --font-size-3xl: 22px;
  --font-size-mid-7: 17.7px;
  --font-size-7xl-4: 26.4px;
  --font-size-8xl-5: 27.5px;
  --font-size-3xl-9: 22.9px;
  --font-size-13xl: 32px;
  --font-size-5xl-8: 24.8px;
  --font-size-6xl-5: 25.5px;
  --font-size-2xl-9: 21.9px;
  --font-size-lgi-9: 19.9px;
  --font-size-base-6: 16.6px;
  --font-size-4xl-2: 23.2px;
  --font-size-lgi: 19px;
  --font-size-4xl-4: 23.4px;
  --font-size-lgi-3: 19.3px;
  --font-size-2xl-6: 21.6px;
  --font-size-10xl-3: 29.3px;
  --font-size-4xl: 23px;
  --font-size-6xl-7: 25.7px;

  /* Colors */
  --color-gray-100: #f7fdfd;
  --color-gray-200: #909090;
  --color-gray-300: #171717;
  --color-gray-400: #001a36;
  --color-white: #fff;
  --color-darkslategray-100: #4b4b4b;
  --color-darkslategray-200: #334d69;
  --color-darkslategray-300: #333;
  --color-darkgray-100: #9e9e9e;
  --color-darkgray-200: #9a9a9a;
  --color-darkgray-300: #999;
  --color-lightgray: #cfcfcf;
  --color-dimgray-100: #717171;
  --color-dimgray-200: #6d6d6d;
  --color-dimgray-300: #6a6a6a;
  --color-dimgray-400: #606060;
  --color-dimgray-500: #585858;
  --color-dimgray-600: #535353;
  --color-lavender: #d5e2f6;
  --color-lightsteelblue-100: #cecdff;
  --color-lightsteelblue-200: #bdc9de;
  --color-lightsteelblue-300: #a7bcf4;
  --color-royalblue-100: #4275ff;
  --color-royalblue-200: #2563eb;
  --color-royalblue-300: #1b60e2;
  --color-royalblue-400: #1d4ed8;
  --color-royalblue-500: #004ed0;
  --color-black: #000;
  --color-dodgerblue-100: #4d8aff;
  --color-dodgerblue-200: #4287ff;
  --color-dodgerblue-300: rgba(77, 138, 255, 0.09);
  --color-steelblue-100: #758ac2;
  --color-steelblue-200: #4493d6;
  --color-steelblue-300: #2b7abd;
  --color-gainsboro: #e6e6e6;
  --color-peachpuff: #fed0ab;
  --color-lightblue: #bae5f4;
  --color-darkseagreen: #bdf4c8;

  /* Gaps */
  --gap-101xl: 120px;
  --gap-58xl: 77px;
  --gap-smi: 13px;
  --gap-xl: 20px;
  --gap-0: 0px;
  --gap-6xl: 25px;
  --gap-54xl: 73px;
  --gap-29xl: 48px;
  --gap-27xl: 46px;
  --gap-14xl: 33px;
  --gap-sm: 14px;
  --gap-7xs: 6px;
  --gap-20xl: 39px;
  --gap-41xl: 60px;
  --gap-21xl: 40px;
  --gap-28xl: 47px;
  --gap-95xl: 114px;
  --gap-2xs: 11px;
  --gap-66xl: 85px;
  --gap-6xs: 7px;
  --gap-56xl: 75px;
  --gap-79xl: 98px;
  --gap-45xl: 64px;
  --gap-12xl: 31px;
  --gap-lgi: 19px;
  --gap-5xs: 8px;
  --gap-13xl: 32px;
  --gap-4xs: 9px;
  --gap-36xl: 55px;
  --gap-112xl: 131px;
  --gap-136xl: 155px;
  --gap-22xl: 41px;
  --gap-61xl: 80px;
  --gap-5xl: 24px;
  --gap-40xl: 59px;
  --gap-24xl: 43px;
  --gap-39xl: 58px;
  --gap-8xs: 5px;
  --gap-55xl: 74px;
  --gap-64xl: 83px;
  --gap-67xl: 86px;
  --gap-97xl: 116px;
  --gap-16xl: 35px;
  --gap-7xl: 26px;
  --gap-17xl: 36px;
  --gap-82xl: 101px;
  --gap-115xl: 134px;
  --gap-49xl: 68px;
  --gap-15xl: 34px;
  --gap-32xl: 51px;
  --gap-34xl: 53px;
  --gap-46xl: 65px;
  --gap-26xl: 45px;
  --gap-108xl: 127px;
  --gap-87xl: 106px;
  --gap-104xl: 123px;
  --gap-69xl: 88px;
  --gap-47xl: 66px;

  /* Paddings */
  --padding-31xl: 50px;
  --padding-296xl: 315px;
  --padding-186xl: 205px;
  --padding-114xl: 133px;
  --padding-16xl: 35px;
  --padding-13xl: 32px;
  --padding-11xs: 2px;
  --padding-19xl: 38px;
  --padding-mini: 15px;
  --padding-18xl: 37px;
  --padding-xs: 12px;
  --padding-2xs: 11px;
  --padding-xl: 20px;
  --padding-10xl: 29px;
  --padding-7xl: 26px;
  --padding-12xs: 1px;
  --padding-6xs: 7px;
  --padding-lg: 18px;
  --padding-9xs: 4px;
  --padding-10xs: 3px;
  --padding-25xl: 44px;
  --padding-mid: 17px;
  --padding-smi: 13px;
  --padding-5xs: 8px;
  --padding-base: 16px;
  --padding-4xs: 9px;
  --padding-7xs: 6px;
  --padding-3xl: 22px;
  --padding-2xl: 21px;
  --padding-lgi: 19px;
  --padding-4xl: 23px;
  --padding-8xl: 27px;
  --padding-11xl: 30px;
  --padding-17xl: 36px;
  --padding-3xs: 10px;
  --padding-15xl: 34px;
  --padding-6xl: 25px;
  --padding-32xl: 51px;
  --padding-51xl: 70px;
  --padding-28xl: 47px;
  --padding-26xl: 45px;
  --padding-42xl: 61px;
  --padding-5xl: 24px;
  --padding-14xl: 33px;
  --padding-20xl: 39px;
  --padding-12xl: 31px;
  --padding-37xl: 56px;
  --padding-sm: 14px;
  --padding-38xl: 57px;
  --padding-46xl: 65px;
  --padding-23xl: 42px;
  --padding-35xl: 54px;
  --padding-8xs: 5px;
  --padding-34xl: 53px;
  --padding-58xl: 77px;
  --padding-60xl: 79px;
  --padding-115xl: 134px;
  --padding-21xl: 40px;
  --padding-59xl: 78px;
  --padding-338xl: 357px;
  --padding-213xl: 232px;
  --padding-27xl: 46px;

  /* Border radiuses */
  --br-8xs: 5px;
  --br-6xs-8: 6.8px;
  --br-xl: 20px;
  --br-9xl-7: 28.7px;
  --br-81xl: 100px;
  --br-smi-8: 12.8px;
  --br-31xl: 50px;
  --br-3xs: 10px;
  --br-4xs-8: 8.8px;
  --br-xs-7: 11.7px;
  --br-3xs-2: 9.2px;
  --br-14xl-2: 33.2px;
  --br-6xs-6: 6.6px;
  --br-7xs-9: 5.9px;
  --br-sm-9: 13.9px;
  --br-6xs: 7px;
  --br-7xs: 6px;
  --br-10xs-8: 2.8px;
}
