.sign-up-rectangle {
  width: 100%;
  height: 974px;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.frame-child122 {
  height: 143px;
  width: 1728px;
  position: relative;
  background-color: var(--color-white);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: none;
  max-width: 100%;
}
.finder9,
.job9 {
  position: relative;
  white-space: nowrap;
  z-index: 1;
}
.finder9 {
  color: var(--color-steelblue-200);
}
.frame-group2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-115xl) 0 0;
}
.companies10,
.find-job9 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.find-job9 {
  height: 36px;
  white-space: nowrap;
}
.companies10 {
  width: 143px;
}
.companies-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) 0 0;
}
.upload-job10 {
  flex: 1;
  white-space: nowrap;
}
.about10,
.upload-job10 {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.find-job-upload-frame {
  width: 610px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 38.33px;
  max-width: 100%;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
}
.frame-child123 {
  height: 82px;
  width: 235px;
  position: relative;
  border-radius: var(--br-31xl);
  border: 3px solid var(--color-royalblue-200);
  box-sizing: border-box;
  display: none;
}
.sign-in8 {
  position: relative;
  font-size: var(--font-size-16xl);
  font-family: var(--font-lato);
  color: var(--color-black);
  text-align: left;
  white-space: nowrap;
  z-index: 1;
}
.rectangle-parent115 {
  cursor: pointer;
  border: 3px solid var(--color-royalblue-200);
  padding: var(--padding-xl);
  background-color: transparent;
  width: 235px;
  border-radius: var(--br-31xl);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.rectangle-parent115:hover {
  background-color: var(--color-dodgerblue-300);
  border: 3px solid var(--color-dodgerblue-100);
  box-sizing: border-box;
}
.frame-child124,
.rectangle-parent114 {
  background-color: var(--color-white);
  max-width: 100%;
}
.rectangle-parent114 {
  align-self: stretch;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-11xl) var(--padding-11xl) var(--padding-12xl);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-royalblue-200);
  font-family: var(--font-lato);
}
.frame-child124 {
  width: 665px;
  height: 731px;
  position: relative;
  border-radius: var(--br-xs-7);
  box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.1), 4px -4px 10px rgba(0, 0, 0, 0.1);
  display: none;
}
.account-sign-in1 {
  position: relative;
  font-size: var(--font-size-10xl-3);
  font-weight: 800;
  font-family: var(--font-lato);
  color: var(--color-black);
  text-align: left;
  z-index: 1;
}
.password-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-5xl) 0;
}
.frame-child125 {
  height: 52.7px;
  width: 298.4px;
  position: relative;
  border-radius: 5.85px;
  background-color: var(--color-lightsteelblue-300);
  display: none;
}
.user-account1 {
  height: 28px;
  position: relative;
  font-size: var(--font-size-4xl-4);
  display: inline-block;
  font-family: var(--font-lato);
  color: var(--color-royalblue-400);
  text-align: left;
  z-index: 1;
}
.rectangle-parent117 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-smi) var(--padding-58xl) var(--padding-2xs)
    var(--padding-60xl);
  background-color: var(--color-lightsteelblue-300);
  border-radius: 5.85px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  z-index: 1;
}
.rectangle-parent117:hover {
  background-color: var(--color-steelblue-100);
}
.frame-child126 {
  height: 52.7px;
  width: 298.4px;
  position: relative;
  border-radius: 5.85px;
  background-color: var(--color-white);
  border: 1.8px solid var(--color-steelblue-200);
  box-sizing: border-box;
  display: none;
}
.company-account1 {
  position: relative;
  font-size: var(--font-size-4xl-4);
  font-family: var(--font-lato);
  color: var(--color-black);
  text-align: left;
  white-space: nowrap;
  z-index: 1;
}
.rectangle-parent118 {
  cursor: pointer;
  border: 1.8px solid var(--color-steelblue-200);
  padding: var(--padding-smi) var(--padding-34xl) var(--padding-2xs)
    var(--padding-35xl);
  background-color: var(--color-white);
  border-radius: 5.85px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  z-index: 1;
}
.rectangle-parent118:hover {
  background-color: var(--color-gainsboro);
  border: 1.8px solid var(--color-steelblue-300);
  box-sizing: border-box;
}
.confirm-password-frame,
.last-name-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.confirm-password-frame {
  flex-wrap: wrap;
  padding: 0 var(--padding-12xs) 0 0;
  row-gap: 20px;
}
.last-name-frame {
  padding: 0 var(--padding-12xs) 0 var(--padding-9xs);
}
.email-address11 {
  position: relative;
  font-size: var(--font-size-2xl-6);
  font-weight: 600;
  font-family: var(--font-lato);
  color: var(--color-dimgray-600);
  text-align: left;
  z-index: 1;
}
.email-input-child {
  height: 62px;
  width: 596.8px;
  position: relative;
  border-radius: 5.85px;
  background-color: var(--color-white);
  border: 1.2px solid var(--color-black);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.exampleexamplecom1 {
  width: 198px;
  border: 0;
  outline: 0;
  font-weight: 600;
  font-family: var(--font-lato);
  font-size: var(--font-size-lgi-3);
  background-color: transparent;
  height: 23px;
  position: relative;
  color: var(--color-darkgray-200);
  text-align: left;
  display: inline-block;
  white-space: nowrap;
  z-index: 2;
}
.email-input,
.input-email-frame,
.input-passwd-frame {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.email-input {
  align-self: stretch;
  border-radius: 5.85px;
  background-color: var(--color-white);
  border: 1.2px solid var(--color-black);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-lgi) var(--padding-lg) var(--padding-xl);
  z-index: 1;
}
.input-email-frame,
.input-passwd-frame {
  align-items: flex-start;
}
.input-passwd-frame {
  flex: 1;
  flex-direction: column;
  padding: 0 var(--padding-12xs) 0 0;
  gap: 8px 0;
}
.input-email-frame {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-12xs) var(--padding-4xs) var(--padding-8xs);
}
.first-name {
  position: relative;
  font-size: var(--font-size-2xl-6);
  font-weight: 600;
  font-family: var(--font-lato);
  color: var(--color-dimgray-600);
  text-align: left;
  z-index: 1;
}
.password-input-child {
  height: 62px;
  width: 294px;
  position: relative;
  border-radius: 5.85px;
  background-color: var(--color-white);
  border: 1.2px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.eg-yatri {
  width: 68px;
  border: 0;
  outline: 0;
  font-weight: 600;
  font-family: var(--font-lato);
  font-size: var(--font-size-lgi-3);
  background-color: transparent;
  height: 23px;
  position: relative;
  color: var(--color-darkgray-300);
  text-align: left;
  display: inline-block;
  z-index: 2;
}
.last-name-input,
.password-input {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.password-input {
  border-radius: 5.85px;
  background-color: var(--color-white);
  border: 1.2px solid var(--color-black);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xl) var(--padding-mid) var(--padding-lgi);
  z-index: 1;
}
.last-name-input {
  flex-direction: column;
  align-items: flex-start;
  gap: 7px 0;
}
.password2 {
  width: 88px;
  position: relative;
  font-size: var(--font-size-2xl-6);
  font-weight: 600;
  font-family: var(--font-lato);
  color: var(--color-dimgray-600);
  text-align: left;
  display: inline-block;
  z-index: 1;
}
.frame-child127 {
  height: 62px;
  width: 294px;
  position: relative;
  border-radius: 5.85px;
  background-color: var(--color-white);
  border: 1.2px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.input {
  width: 97px;
  border: 0;
  outline: 0;
  font-weight: 600;
  font-family: var(--font-lato);
  font-size: var(--font-size-lgi-3);
  background-color: transparent;
  height: 23px;
  position: relative;
  color: var(--color-gray-300);
  text-align: left;
  display: inline-block;
  z-index: 2;
}
.last-name-input1,
.rectangle-parent119 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.rectangle-parent119 {
  border-radius: 5.85px;
  background-color: var(--color-white);
  border: 1.2px solid var(--color-black);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-lgi) var(--padding-mid) var(--padding-xl);
  z-index: 1;
}
.last-name-input1 {
  flex-direction: column;
  align-items: flex-start;
  gap: 7px 0;
}
.create-account1 {
  height: 28px;
  position: relative;
  font-size: var(--font-size-4xl-4);
  font-weight: 600;
  font-family: var(--font-lato);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.create-account-wrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-5xs) var(--padding-2xs);
  background-color: var(--color-royalblue-300);
  width: 239px;
  border-radius: 5.85px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 1;
}
.create-account-wrapper:hover {
  background-color: var(--color-dodgerblue-200);
}
.first-name-input {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 35px 0;
  min-width: 191px;
}
.last-name {
  position: relative;
  font-size: var(--font-size-2xl-6);
  font-weight: 600;
  font-family: var(--font-lato);
  color: var(--color-dimgray-600);
  text-align: left;
  z-index: 1;
}
.user-account-child {
  height: 62px;
  width: 294px;
  position: relative;
  border-radius: 5.85px;
  background-color: var(--color-white);
  border: 1.2px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.kachhadiya {
  width: 96px;
  border: 0;
  outline: 0;
  font-weight: 600;
  font-family: var(--font-lato);
  font-size: var(--font-size-lgi-3);
  background-color: transparent;
  height: 23px;
  position: relative;
  color: var(--color-darkgray-300);
  text-align: left;
  display: inline-block;
  z-index: 2;
}
.last-name-parent,
.user-account2 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.user-account2 {
  border-radius: 5.85px;
  background-color: var(--color-white);
  border: 1.2px solid var(--color-black);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xl) var(--padding-mid) var(--padding-lgi);
  z-index: 1;
}
.last-name-parent {
  flex-direction: column;
  align-items: flex-start;
  gap: 7px 0;
}
.confirm-password {
  position: relative;
  font-size: var(--font-size-2xl-6);
  font-weight: 600;
  font-family: var(--font-lato);
  color: var(--color-dimgray-600);
  text-align: left;
  z-index: 1;
}
.frame-child128 {
  height: 62px;
  width: 294px;
  position: relative;
  border-radius: 5.85px;
  background-color: var(--color-white);
  border: 1.2px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.password3 {
  width: 80px;
  border: 0;
  outline: 0;
  font-weight: 600;
  font-family: var(--font-lato);
  font-size: var(--font-size-lgi-3);
  background-color: transparent;
  height: 23px;
  position: relative;
  color: var(--color-darkgray-300);
  text-align: left;
  display: inline-block;
  z-index: 2;
}
.rectangle-parent120 {
  align-self: stretch;
  border-radius: 5.85px;
  background-color: var(--color-white);
  border: 1.2px solid var(--color-black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-lgi) var(--padding-mid) var(--padding-xl);
  z-index: 1;
}
.already-has-account-label,
.confirm-password-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.confirm-password-parent {
  align-self: stretch;
  gap: 7px 0;
}
.already-has-account-label {
  flex: 1;
  gap: 36px 0;
  min-width: 191px;
}
.create-account-button,
.first-name-input-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.first-name-input-parent {
  flex: 1;
  flex-wrap: wrap;
  gap: 0 10px;
}
.create-account-button {
  align-self: stretch;
  padding: 0 0 0 var(--padding-8xs);
  box-sizing: border-box;
}
.already-has-an {
  color: var(--color-dimgray-500);
  white-space: pre-wrap;
}
.login1 {
  color: var(--color-royalblue-200);
}
.already-has-an-container {
  width: 322px;
  position: relative;
  font-size: var(--font-size-4xl-4);
  font-weight: 600;
  font-family: var(--font-lato);
  text-align: left;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.rectangle-parent116,
.sign-in-link,
.user-signup {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.sign-in-link {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-8xs);
  max-width: 100%;
}
.rectangle-parent116,
.user-signup {
  background-color: var(--color-white);
  flex-direction: column;
  align-items: center;
}
.rectangle-parent116 {
  margin: 0;
  width: 665px;
  border-radius: var(--br-xs-7);
  box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.1), 4px -4px 10px rgba(0, 0, 0, 0.1);
  padding: var(--padding-13xl) var(--padding-14xl) var(--padding-21xl)
    var(--padding-10xl);
  gap: var(--gap-7xl);
  max-width: 100%;
  z-index: 1;
}
.user-signup {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 0 0 127px;
  gap: 116px 0;
  letter-spacing: normal;
}
@media screen and (max-width: 975px) {
  .frame-group2 {
    display: none;
  }
  .rectangle-parent116 {
    padding-top: var(--padding-2xl);
    padding-bottom: var(--padding-7xl);
    box-sizing: border-box;
  }
  .user-signup {
    gap: 116px 0;
  }
}
@media screen and (max-width: 700px) {
  .find-job-upload-frame {
    gap: 0 38.33px;
  }
  .rectangle-parent116 {
    width: calc(100% - 40px);
  }
}
@media screen and (max-width: 450px) {
  .frame-group2 {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .find-job-upload-frame {
    display: none;
  }
  .account-sign-in1 {
    font-size: var(--font-size-4xl);
  }
  .rectangle-parent117,
  .rectangle-parent118 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .email-address11,
  .first-name,
  .password2 {
    font-size: var(--font-size-mid);
  }
  .first-name-input {
    gap: 35px 0;
  }
  .confirm-password,
  .last-name {
    font-size: var(--font-size-mid);
  }
  .already-has-account-label {
    gap: 36px 0;
  }
  .already-has-an-container {
    font-size: var(--font-size-lgi);
  }
  .user-signup {
    gap: 116px 0;
  }
}
