<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="~/global.css" />
    <link rel="stylesheet" href="~/company-edit-profile.css" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600;700;800;900&display=swap" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" />
</head>
<body>
    <div class="company-edit-profile">
        <section class="frame-section">
            <div class="newsletter-subscribe1">
                <div class="facebook-icon3">
                    <div class="instagram-icon5">
                        <div class="frame-company-support">
                            <b class="welcome2">Welcome. !</b>
                            <div class="company-info-box">
                                <div class="edit-button">
                                    <div class="mingcutelocation-fill-group">
                                        <img class="mingcutelocation-fill-icon3"
                                             loading="lazy"
                                             alt=""
                                             src="~/public/mingcutelocationfill.svg" />

                                        <div class="mumbai1">Mumbai</div>
                                    </div>
                                </div>
                                <div class="choose-file-button">
                                    <div class="no-file-selected-message">
                                        <div class="job-posted2">Job Posted</div>
                                        <div class="rectangle-parent152">
                                            <div class="frame-child162"></div>
                                            <div class="job-post-group">
                                                <div class="software-engineer-job-post">
                                                    <div class="software-engineer72">
                                                        Software Engineer
                                                    </div>
                                                    <div class="job-post-frame7">
                                                        <img class="tdesignlocation-icon66"
                                                             loading="lazy"
                                                             alt=""
                                                             src="~/public/tdesignlocation2.svg" />

                                                        <div class="west-us65">West US</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="about-job-frame">
                                                <div class="lorem-ipsum-is-container63">
                                                    <p class="lorem-ipsum-is66">
                                                        Lorem Ipsum is simply dummy text of
                                                    </p>
                                                    <p class="the-printing-and63">
                                                        the printing and typesetting industry.
                                                    </p>
                                                    <p class="lorem-ipsum-has63">
                                                        Lorem Ipsum has been the industry's
                                                    </p>
                                                    <p class="standard-dummy-text63">
                                                        standard dummy text ever since the
                                                    </p>
                                                    <p class="p73">1500...</p>
                                                </div>
                                                <div class="company-support-group-parent">
                                                    <button class="company-support-group2">
                                                        <div class="full-time70">Full-Time</div>
                                                    </button>
                                                    <div class="a-few-seconds65">a few seconds ago</div>
                                                </div>
                                            </div>
                                            <img class="skill-iconstwitter16"
                                                 loading="lazy"
                                                 alt=""
                                                 src="~/public/skilliconstwitter1.svg" />
                                        </div>
                                    </div>
                                    <div class="rectangle-parent153">
                                        <div class="frame-child163"></div>
                                        <div class="choose-file-button1">
                                            <div class="software-engineer-parent49">
                                                <div class="software-engineer73">
                                                    Software Engineer
                                                </div>
                                                <div class="job-post-frame8">
                                                    <img class="tdesignlocation-icon67"
                                                         alt=""
                                                         src="~/public/tdesignlocation2.svg" />

                                                    <div class="west-us66">West US</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="about-job-frame1">
                                            <div class="lorem-ipsum-is-container64">
                                                <p class="lorem-ipsum-is67">
                                                    Lorem Ipsum is simply dummy text of
                                                </p>
                                                <p class="the-printing-and64">
                                                    the printing and typesetting industry.
                                                </p>
                                                <p class="lorem-ipsum-has64">
                                                    Lorem Ipsum has been the industry's
                                                </p>
                                                <p class="standard-dummy-text64">
                                                    standard dummy text ever since the
                                                </p>
                                                <p class="p74">1500...</p>
                                            </div>
                                            <div class="level-plot-c-fifc-building-g-b-parent">
                                                <button class="level-plot-c-fifc-building-g-b">
                                                    <div class="full-time71">Full-Time</div>
                                                </button>
                                                <div class="a-few-seconds66">a few seconds ago</div>
                                            </div>
                                        </div>
                                        <img class="skill-iconstwitter17"
                                             alt=""
                                             src="~/public/skilliconstwitter1.svg" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="choose-file-text">
                        <div class="about-company-text">
                            <div class="rectangle-parent154">
                                <div class="frame-child164"></div>
                                <div class="deviconlinkedin-parent8">
                                    <img class="deviconlinkedin12"
                                         loading="lazy"
                                         alt=""
                                         src="~/public/deviconlinkedin.svg" />

                                    <div class="software-engineer-job-post1">
                                        <div class="software-engineer74">Software Engineer</div>
                                        <div class="job-post-frame9">
                                            <img class="tdesignlocation-icon68"
                                                 alt=""
                                                 src="~/public/tdesignlocation2.svg" />

                                            <div class="west-us67">West US</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="edit-profile-icon">
                                    <div class="about-job-frame2">
                                        <div class="lorem-ipsum-is-container65">
                                            <p class="lorem-ipsum-is68">
                                                Lorem Ipsum is simply dummy text of
                                            </p>
                                            <p class="the-printing-and65">
                                                the printing and typesetting industry.
                                            </p>
                                            <p class="lorem-ipsum-has65">
                                                Lorem Ipsum has been the industry's
                                            </p>
                                            <p class="standard-dummy-text65">
                                                standard dummy text ever since the
                                            </p>
                                            <p class="p75">1500...</p>
                                        </div>
                                        <div class="frame-parent68">
                                            <button class="full-time-wrapper42">
                                                <div class="full-time72">Full-Time</div>
                                            </button>
                                            <div class="a-few-seconds67">a few seconds ago</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="rectangle-parent155">
                                <div class="frame-child165"></div>
                                <div class="flat-color-iconsgoogle-parent12">
                                    <img class="flat-color-iconsgoogle14"
                                         loading="lazy"
                                         alt=""
                                         src="~/public/flatcoloriconsgoogle1.svg" />

                                    <div class="software-engineer-job-post-wrapper">
                                        <div class="software-engineer-job-post2">
                                            <div class="software-engineer75">Software Engineer</div>
                                            <div class="job-post-frame10">
                                                <input class="tdesignlocation" type="checkbox" />

                                                <div class="west-us68">West US</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="about-job-frame-wrapper">
                                    <div class="about-job-frame3">
                                        <div class="lorem-ipsum-is-container66">
                                            <p class="lorem-ipsum-is69">
                                                Lorem Ipsum is simply dummy text of
                                            </p>
                                            <p class="the-printing-and66">
                                                the printing and typesetting industry.
                                            </p>
                                            <p class="lorem-ipsum-has66">
                                                Lorem Ipsum has been the industry's
                                            </p>
                                            <p class="standard-dummy-text66">
                                                standard dummy text ever since the
                                            </p>
                                            <p class="p76">1500...</p>
                                        </div>
                                        <div class="frame-parent69">
                                            <button class="full-time-wrapper43">
                                                <div class="full-time73">Full-Time</div>
                                            </button>
                                            <div class="a-few-seconds68">a few seconds ago</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="rectangle-parent156">
                                <div class="frame-child166"></div>
                                <div class="flat-color-iconsgoogle-parent13">
                                    <img class="flat-color-iconsgoogle15"
                                         alt=""
                                         src="~/public/flatcoloriconsgoogle1.svg" />

                                    <div class="frame-wrapper58">
                                        <div class="software-engineer-parent50">
                                            <div class="software-engineer76">Software Engineer</div>
                                            <div class="job-post-frame11">
                                                <img class="tdesignlocation-icon69"
                                                     alt=""
                                                     src="~/public/tdesignlocation2.svg" />

                                                <div class="west-us69">West US</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="about-job-frame-container">
                                    <div class="about-job-frame4">
                                        <div class="lorem-ipsum-is-container67">
                                            <p class="lorem-ipsum-is70">
                                                Lorem Ipsum is simply dummy text of
                                            </p>
                                            <p class="the-printing-and67">
                                                the printing and typesetting industry.
                                            </p>
                                            <p class="lorem-ipsum-has67">
                                                Lorem Ipsum has been the industry's
                                            </p>
                                            <p class="standard-dummy-text67">
                                                standard dummy text ever since the
                                            </p>
                                            <p class="p77">1500...</p>
                                        </div>
                                        <div class="frame-parent70">
                                            <button class="full-time-wrapper44">
                                                <div class="full-time74">Full-Time</div>
                                            </button>
                                            <div class="a-few-seconds69">a few seconds ago</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="googlegmailcom-parent">
                                <div class="googlegmailcom6">google@gmail.com</div>
                                <div class="div1">5688457456</div>
                                <div class="frame-child167"></div>
                                <div class="edit-profile1">
                                    <div class="edit-company-profile">Edit Company Profile</div>
                                </div>
                                <div class="frame-wrapper59">
                                    <div class="phphone-call-group">
                                        <img class="phphone-call-icon3"
                                             loading="lazy"
                                             alt=""
                                             src="~/public/phphonecall.svg" />

                                        <div class="company-detail-frame">
                                            <div class="material-symbolsmail-outline-group">
                                                <img class="material-symbolsmail-outline-icon3"
                                                     loading="lazy"
                                                     alt=""
                                                     src="~/public/materialsymbolsmailoutline.svg" />

                                                <div class="company-name2">Company Name</div>
                                            </div>
                                            <div class="rectangle-parent157">
                                                <div class="frame-child168"></div>
                                                <input class="google-company4"
                                                       placeholder="Google Company"
                                                       type="text" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="about-company-text1">
                                    <div class="submit-button">
                                        <div class="location-address">Location Address</div>
                                        <div class="upload-file-group">
                                            <div class="upload-file-group-child"></div>
                                            <div class="level-7-plot">
                                                Level 7, Plot, C, FIFC Building, 54&55, G Block BKC,
                                                Bandra....
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="group-edit-frame">
                                    <div class="frame-job-post">
                                        <div class="software-engineer-text">
                                            <div class="contact10">Contact</div>
                                            <div class="company-logo4">Company Logo</div>
                                        </div>
                                        <div class="lorem-ipsum-text1">
                                            <div class="skill-icon-twitter">
                                                <div class="group-edit-profile">
                                                    <div class="group-edit-profile-child"></div>
                                                    <div class="empty-text-frame">5422365482</div>
                                                </div>
                                            </div>
                                            <div class="rectangle-parent158">
                                                <div class="frame-child169"></div>
                                                <div class="choose-file">Choose File</div>
                                            </div>
                                            <div class="upload-button">
                                                <div class="no-file-chosen">No file chosen</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="company-info-frame">
                                    <div class="about-company-parent">
                                        <div class="about-company3">About Company</div>
                                        <textarea class="about-company4" rows="{13}" cols="{35}">
                      </textarea>
                                    </div>
                                </div>
                                <div class="group-edit-profile-icon-wrapper">
                                    <button class="group-edit-profile-icon">
                                        <div class="submit">Submit</div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="skills-frame">
                    <div class="rectangle-frame2">
                        <div class="linked-in-link">
                            <div class="frame-parent71">
                                <button class="rectangle-parent159">
                                    <div class="frame-child170"></div>
                                    <b class="edit-profile2">Edit Profile</b>
                                    <img class="iconamoonedit1"
                                         alt=""
                                         src="~/public/iconamoonedit.svg" />
                                </button>
                                <button class="rectangle-parent160">
                                    <div class="frame-child171"></div>
                                    <b class="uploade-job1">Uploade Job</b>
                                    <img class="material-symbolsupload-icon1"
                                         alt=""
                                         src="~/public/materialsymbolsupload.svg" />
                                </button>
                            </div>
                            <div class="email-address-subscribe-frame">
                                <div class="job-post5">
                                    <p class="p78">2</p>
                                    <p class="job-post6">Job Post</p>
                                </div>
                            </div>
                        </div>
                        <div class="rectangle-parent161">
                            <div class="frame-child172"></div>
                            <div class="job-post-group1">
                                <div class="software-engineer-job-post3">
                                    <div class="software-engineer77">Software Engineer</div>
                                    <div class="job-post-frame12">
                                        <img class="tdesignlocation-icon70"
                                             alt=""
                                             src="~/public/tdesignlocation2.svg" />

                                        <div class="west-us70">West US</div>
                                    </div>
                                </div>
                            </div>
                            <div class="about-job-frame5">
                                <div class="lorem-ipsum-is-container68">
                                    <p class="lorem-ipsum-is71">
                                        Lorem Ipsum is simply dummy text of
                                    </p>
                                    <p class="the-printing-and68">
                                        the printing and typesetting industry.
                                    </p>
                                    <p class="lorem-ipsum-has68">
                                        Lorem Ipsum has been the industry's
                                    </p>
                                    <p class="standard-dummy-text68">
                                        standard dummy text ever since the
                                    </p>
                                    <p class="p79">1500...</p>
                                </div>
                                <div class="lorem-text-parent">
                                    <button class="lorem-text">
                                        <div class="full-time75">Full-Time</div>
                                    </button>
                                    <div class="a-few-seconds70">a few seconds ago</div>
                                </div>
                            </div>
                            <img class="skill-iconstwitter18"
                                 alt=""
                                 src="~/public/skilliconstwitter1.svg" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="vector-parent3">
            <img class="frame-child173" alt="" src="~/public/rectangle-14.svg" />

            <div class="frame-child174"></div>
        </footer>
        <section class="company-edit-profile-inner">
            <div class="rilinkedin-fill-parent">
                <img class="rilinkedin-fill-icon10"
                     loading="lazy"
                     alt=""
                     src="~/public/rilinkedinfill1.svg" />

                <div class="linked-in-frame">
                    <div class="company-home-frame1">
                        <div class="company-support3">
                            <b class="company13">Company</b>
                            <div class="home10">Home</div>
                            <div class="about-us11">About Us</div>
                            <div class="services10">Services</div>
                            <div class="our-team10">Our Team</div>
                        </div>
                        <div class="feedback-frame1">
                            <b class="policy11">Policy</b>
                            <div class="policies10">Policies</div>
                            <div class="contact11">Contact</div>
                            <div class="faq10">FAQ</div>
                        </div>
                        <div class="company-support4">
                            <b class="support10">Support</b>
                            <div class="account10">Account</div>
                            <div class="support-center10">Support Center</div>
                            <div class="feedback10">Feedback</div>
                            <div class="accessibility10">Accessibility</div>
                        </div>
                    </div>
                    <div class="newsletter-form-frame">
                        <div class="subscribe-to-our10">Subscribe to our Newsletter</div>
                        <div class="instagram-icon-frame">
                            <div class="linked-in-icon-frame">
                                <div class="iconoirfacebook-parent1">
                                    <img class="iconoirfacebook10"
                                         loading="lazy"
                                         alt=""
                                         src="~/public/iconoirfacebook.svg" />

                                    <img class="simple-iconsx10"
                                         loading="lazy"
                                         alt=""
                                         src="~/public/simpleiconsx.svg" />

                                    <img class="mdiinstagram-icon10"
                                         loading="lazy"
                                         alt=""
                                         src="~/public/mdiinstagram.svg" />
                                </div>
                                <div class="upload-icon-frame">
                                    <div class="software-engineer-text1">
                                        <div class="location-address-text">
                                            <div class="full-time-text"></div>
                                            <div class="email-address16">Email Address</div>
                                        </div>
                                        <div class="rectangle-parent162">
                                            <div class="frame-child175"></div>
                                            <input class="subscribe13"
                                                   placeholder="Subscribe"
                                                   type="text" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="rectangle-shape-vector"></section>
        <div class="company-support-rectangle">
            <div class="job-finder11">© 2024 Job Finder</div>
        </div>
    </div>
</body>
</html>
