<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="~/css/global.css" />
    <link rel="stylesheet" href="~/css/companies.css" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600;700;800;900&display=swap" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" />
</head>
<body>
    <div class="companies2">
        <section class="search-icon-wrapper">
            <div class="search-icon">
                <div class="text-input">
                    <h1 class="find-your-dream2">Find Your Dream Job With Ease</h1>
                </div>
                <div class="close-button">
                    <div class="text1">
                        <div class="text-child"></div>
                        <div class="frame-materials">
                            <div class="search-iconand-location">
                                <img class="material-symbolssearch-icon2"
                                     loading="lazy"
                                     alt=""
                                     src="~/public/materialsymbolssearch.svg" />

                                <div class="job-title-or2">Job Title or Keywords</div>
                            </div>
                            <div class="rectangle1">
                                <img class="carbonclose-outline-icon4"
                                     loading="lazy"
                                     alt=""
                                     src="~/public/carboncloseoutline.svg" />
                            </div>
                            <div class="search-iconand-location1">
                                <img class="tdesignlocation-icon32"
                                     loading="lazy"
                                     alt=""
                                     src="~/public/tdesignlocation.svg" />

                                <div class="add-country-or2">Add Country or City</div>
                            </div>
                            <img class="carbonclose-outline-icon5"
                                 loading="lazy"
                                 alt=""
                                 src="~/public/carboncloseoutline.svg" />
                        </div>
                        <button class="rectangle-parent45">
                            <div class="frame-child48"></div>
                            <b class="search2">Search</b>
                        </button>
                    </div>
                    <div class="company-frame">
                        <div class="results-frame">
                            <div class="showing-1902-jobs-container2">
                                <span>Showing: </span>
                                <span class="span2">1,902</span>
                                <span> Jobs Available</span>
                            </div>
                            <div class="newest-option">
                                <div class="sort-by2">Sort By:</div>
                                <div class="rectangle-parent46">
                                    <div class="frame-child49"></div>
                                    <div class="newest2">Newest</div>
                                    <img class="phcaret-up-down-bold-icon2"
                                         alt=""
                                         src="~/public/phcaretupdownbold.svg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="california-locations">
                    <div class="company-list1">
                        <div class="job-postings">
                            <div class="policy-frame-parent">
                                <img class="policy-frame-icon"
                                     loading="lazy"
                                     alt=""
                                     src="~/public/rectangle-19@2x.png" />

                                <div class="linkedin-corporation-parent">
                                    <div class="linkedin-corporation">LinkedIn Corporation</div>
                                    <div class="supportmicrosoftcom">support@microsoft.com</div>
                                </div>
                            </div>
                            <div class="califonia">Califonia</div>
                            <div class="jobs-posted">
                                <p class="p30">2</p>
                                <p class="jobs-posted1">Jobs Posted</p>
                            </div>
                        </div>
                        <div class="job-postings1">
                            <div class="rectangle-parent47">
                                <img class="frame-child50"
                                     loading="lazy"
                                     alt=""
                                     src="~/public/rectangle-19@2x.png" />

                                <div class="linkedin-corporation-group">
                                    <div class="linkedin-corporation1">LinkedIn Corporation</div>
                                    <div class="supportmicrosoftcom1">
                                        support@microsoft.com
                                    </div>
                                </div>
                            </div>
                            <div class="califonia1">Califonia</div>
                            <div class="jobs-posted2">
                                <p class="p31">2</p>
                                <p class="jobs-posted3">Jobs Posted</p>
                            </div>
                        </div>
                        <div class="job-postings2">
                            <div class="rectangle-parent48">
                                <img class="frame-child51"
                                     loading="lazy"
                                     alt=""
                                     src="~/public/rectangle-19@2x.png" />

                                <div class="linkedin-corporation-container">
                                    <div class="linkedin-corporation2">LinkedIn Corporation</div>
                                    <div class="supportmicrosoftcom2">
                                        support@microsoft.com
                                    </div>
                                </div>
                            </div>
                            <div class="califonia2">Califonia</div>
                            <div class="jobs-posted4">
                                <p class="p32">2</p>
                                <p class="jobs-posted5">Jobs Posted</p>
                            </div>
                        </div>
                        <div class="job-postings3">
                            <div class="rectangle-parent49">
                                <img class="frame-child52"
                                     loading="lazy"
                                     alt=""
                                     src="~/public/rectangle-19@2x.png" />

                                <div class="linkedin-corporation-parent1">
                                    <div class="linkedin-corporation3">LinkedIn Corporation</div>
                                    <div class="supportmicrosoftcom3">
                                        support@microsoft.com
                                    </div>
                                </div>
                            </div>
                            <div class="califonia3">Califonia</div>
                            <div class="jobs-posted6">
                                <p class="p33">2</p>
                                <p class="jobs-posted7">Jobs Posted</p>
                            </div>
                        </div>
                        <div class="job-postings4">
                            <div class="rectangle-parent50">
                                <img class="frame-child53"
                                     loading="lazy"
                                     alt=""
                                     src="~/public/rectangle-19@2x.png" />

                                <div class="linkedin-corporation-parent2">
                                    <div class="linkedin-corporation4">LinkedIn Corporation</div>
                                    <div class="supportmicrosoftcom4">
                                        support@microsoft.com
                                    </div>
                                </div>
                            </div>
                            <div class="califonia4">Califonia</div>
                            <div class="jobs-posted8">
                                <p class="p34">2</p>
                                <p class="jobs-posted9">Jobs Posted</p>
                            </div>
                        </div>
                        <div class="job-postings5">
                            <div class="rectangle-parent51">
                                <img class="frame-child54"
                                     loading="lazy"
                                     alt=""
                                     src="~/public/rectangle-19@2x.png" />

                                <div class="linkedin-corporation-parent3">
                                    <div class="linkedin-corporation5">LinkedIn Corporation</div>
                                    <div class="supportmicrosoftcom5">
                                        support@microsoft.com
                                    </div>
                                </div>
                            </div>
                            <div class="califonia5">Califonia</div>
                            <div class="jobs-posted10">
                                <p class="p35">2</p>
                                <p class="jobs-posted11">Jobs Posted</p>
                            </div>
                        </div>
                        <div class="job-postings6">
                            <div class="rectangle-parent52">
                                <img class="frame-child55"
                                     loading="lazy"
                                     alt=""
                                     src="~/public/rectangle-19@2x.png" />

                                <div class="linkedin-corporation-parent4">
                                    <div class="linkedin-corporation6">LinkedIn Corporation</div>
                                    <div class="supportmicrosoftcom6">
                                        support@microsoft.com
                                    </div>
                                </div>
                            </div>
                            <div class="califonia6">Califonia</div>
                            <div class="jobs-posted12">
                                <p class="p36">2</p>
                                <p class="jobs-posted13">Jobs Posted</p>
                            </div>
                        </div>
                        <div class="job-postings7">
                            <div class="rectangle-parent53">
                                <img class="frame-child56"
                                     loading="lazy"
                                     alt=""
                                     src="~/public/rectangle-19@2x.png" />

                                <div class="linkedin-corporation-parent5">
                                    <div class="linkedin-corporation7">LinkedIn Corporation</div>
                                    <div class="supportmicrosoftcom7">
                                        support@microsoft.com
                                    </div>
                                </div>
                            </div>
                            <div class="califonia7">Califonia</div>
                            <div class="jobs-posted14">
                                <p class="p37">2</p>
                                <p class="jobs-posted15">Jobs Posted</p>
                            </div>
                        </div>
                        <div class="job-postings8">
                            <div class="rectangle-parent54">
                                <img class="frame-child57"
                                     loading="lazy"
                                     alt=""
                                     src="~/public/rectangle-19@2x.png" />

                                <div class="linkedin-corporation-parent6">
                                    <div class="linkedin-corporation8">LinkedIn Corporation</div>
                                    <div class="supportmicrosoftcom8">
                                        support@microsoft.com
                                    </div>
                                </div>
                            </div>
                            <div class="califonia8">Califonia</div>
                            <div class="jobs-posted16">
                                <p class="p38">2</p>
                                <p class="jobs-posted17">Jobs Posted</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
       @*  <footer class="linked-in-corp-frame">
            <img class="linked-in-corp-frame-child"
                 alt=""
                 src="~/public/rectangle-14.svg" />

            <div class="company-support-frame-wrapper">
                <div class="company-support-frame1">
                    <div class="company-support">
                        <b class="company3">Company</b>
                        <div class="home2">Home</div>
                        <div class="about-us2">About Us</div>
                        <div class="services2">Services</div>
                        <div class="our-team2">Our Team</div>
                    </div>
                    <div class="policy-container">
                        <b class="policy3">Policy</b>
                        <div class="policies2">Policies</div>
                        <div class="contact2">Contact</div>
                        <div class="faq2">FAQ</div>
                    </div>
                    <div class="company-support1">
                        <b class="support2">Support</b>
                        <div class="account2">Account</div>
                        <div class="support-center2">Support Center</div>
                        <div class="feedback2">Feedback</div>
                        <div class="accessibility2">Accessibility</div>
                    </div>
                </div>
            </div>
            <div class="subscribe-newsletter">
                <div class="email-address2">
                    <div class="subscribe-to-our2">Subscribe to our Newsletter</div>
                    <div class="framework-icon-social-media-parent">
                        <div class="framework-icon-social-media">
                            <div class="subscribe3">
                                <div class="email-address-input">
                                    <div class="email-address-input-child"></div>
                                    <div class="email-address3">Email Address</div>
                                </div>
                                <button class="subscribeform">
                                    <div class="subscribeform-child"></div>
                                    <div class="subscribe4">Subscribe</div>
                                </button>
                            </div>
                        </div>
                        <div class="socialmediaicons">
                            <img class="iconoirfacebook2"
                                 loading="lazy"
                                 alt=""
                                 src="~/public/iconoirfacebook.svg" />

                            <img class="simple-iconsx2"
                                 loading="lazy"
                                 alt=""
                                 src="~/public/simpleiconsx.svg" />

                            <img class="mdiinstagram-icon2"
                                 loading="lazy"
                                 alt=""
                                 src="~/public/mdiinstagram.svg" />

                            <img class="rilinkedin-fill-icon2"
                                 loading="lazy"
                                 alt=""
                                 src="~/public/rilinkedinfill.svg" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyrightnotice">
                <div class="copyrightnotice-child"></div>
                <div class="job-finder2">© 2024 Job Finder</div>
            </div>
        </footer> *@
    </div>
</body>
</html>
