@model CompanyModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="~/css/global.css" />
    <link rel="stylesheet" href="~/css/company-signup.css" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600;700;800;900&display=swap" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" />
</head>
<body>
    <div class="company-signup">
        <img class="company-frame-icon"
             alt=""
             src="~/public/sign-in-text@2x.png" />
        <form class="rectangle-parent123" method="post">
            <div class="frame-child131"></div>
            <div class="button">
                <div class="create-account2">Create Account</div>
            </div>
            <div class="group">
                <div class="frame-parent51">
                    <button class="rectangle-parent124">
                        <div class="frame-child132"></div>
                        <b class="user-account3"><a asp-action="UserSignup" asp-controller="Job" style="text-decoration:none">User Account</a></b>
                    </button>
                    <button class="rectangle-parent125">
                        <div class="frame-child133"></div>
                        <b class="company-account2"><a asp-action="CompanySignup" asp-controller="Job" style="text-decoration:none">Company Account</a></b>
                    </button>
                </div>
            </div>
            <div class="group1">
                <div class="email-address-parent">
                    <div class="email-address12">Email Address</div>
                    <div class="rectangle-parent126">
                        <div class="frame-child134"></div>
                        <input class="yatrigmailcom"
                               placeholder="yatri@gmail.com"
                               type="text" asp-for="CompanyEmail"/>
                    </div>
                </div>
            </div>
            <div class="group2">
                <div class="company-name-parent">
                    <div class="company-name">Company Name</div>
                    <div class="rectangle-parent127">
                        <div class="frame-child135"></div>
                        <input class="company-name1"
                               placeholder="Company name"
                               type="text" />
                    </div>
                </div>
            </div>
            <div class="frame-email-address-company-na">
                <div class="create-account-text">
                    <div class="confirm-password-input-parent">
                        <div class="confirm-password-input">
                            <div class="password4">Password</div>
                            <div class="rectangle-parent128">
                                <div class="frame-child136"></div>
                                <input class="user-account-company"
                                       placeholder="************"
                                       type="text" />
                            </div>
                        </div>
                        <button class="frame-group-user-account-compa">
                            <div class="create-account3">Create Account</div>
                        </button>
                    </div>
                    <div class="login-link-text">
                        <div class="confirm-password1">Confirm Password</div>
                        <div class="rectangle-parent129">
                            <div class="frame-child137"></div>
                            <input class="password5" placeholder="Password" type="text" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="already-has-an-account-text">
                <div class="already-has-an-container1">
                    <span class="already-has-an1">Already has an account? </span>
                    <span class="login2"><a asp-action="CompanyLogin" asp-controller="Job" style="text-decoration:none">Login</a></span>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
