<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="~/css/global.css" />
    <link rel="stylesheet" href="~/css/company-upload-jobs.css" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600;700;800;900&display=swap" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" />
</head>
<body>
    <div class="company-upload-jobs">
        <section class="company-upload-jobs-inner">
            <div class="frame-parent52">
               @*  <header class="frame-parent53">
                    <div class="job-container">
                        <b class="job12">Job</b>
                        <b class="finder12">Finder</b>
                    </div>
                    <div class="find-jobs-frame-parent">
                        <div class="find-jobs-frame">
                            <div class="find-job12">Find Job</div>
                            <div class="companies13">Companies</div>
                            <div class="upload-job13">Upload Job</div>
                            <div class="about13">About</div>
                        </div>
                        <div class="google-company-text">
                            <div class="googlegmailcom-text">
                                <div class="google-company1">Google Company</div>
                                <div class="googlegmailcom2">google@gmail.com</div>
                            </div>
                            <img class="google-company-text-child"
                                 alt=""
                                 src="./public/group-89.svg" />

                            <img class="mingcutedown-line-icon1"
                                 alt=""
                                 src="./public/mingcutedownline.svg" />
                        </div>
                    </div>
                </header> *@
                <div class="welcome-parent">
                    <b class="welcome">Welcome. !</b>
                    <div class="home-account-frame3">
                        <div class="about-us-support-center-frame15">
                            <div class="services-feedback-frame2">
                                <img class="mingcutelocation-fill-icon1"
                                     loading="lazy"
                                     alt=""
                                     src="~/public/mingcutelocationfill.svg" />

                                <div class="no-location">No Location</div>
                            </div>
                            <div class="services-feedback-frame3">
                                <img class="material-symbolsmail-outline-icon1"
                                     loading="lazy"
                                     alt=""
                                     src="~/public/materialsymbolsmailoutline.svg" />

                                <div class="no-emails">No Emails</div>
                            </div>
                            <div class="services-feedback-frame4">
                                <img class="phphone-call-icon1"
                                     loading="lazy"
                                     alt=""
                                     src="~/public/phphonecall.svg" />

                                <div class="no-contacts">No Contacts</div>
                            </div>
                            <div class="job-post2">Job Post</div>
                        </div>
                    </div>
                </div>
                <div class="software-engineer-group4">
                    <div class="job-posted">Job Posted</div>
                    <div class="full-time-group">
                        <div class="seconds-ago-text">
                            <div class="google-company-frame">
                                <div class="rectangle-parent136">
                                    <div class="frame-child144"></div>
                                    <div class="skill-iconstwitter-parent8">
                                        <img class="skill-iconstwitter10"
                                             loading="lazy"
                                             alt=""
                                             src="~/public/skilliconstwitter1.svg" />

                                        <div class="software-engineer-parent37">
                                            <div class="software-engineer60">Software Engineer</div>
                                            <div class="tdesignlocation-parent38">
                                                <img class="tdesignlocation-icon54"
                                                     loading="lazy"
                                                     alt=""
                                                     src="~/public/tdesignlocation2.svg" />

                                                <div class="west-us53">West US</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="frame-wrapper43">
                                        <div class="lorem-ipsum-is-simply-dummy-te-parent42">
                                            <div class="lorem-ipsum-is-container51">
                                                <p class="lorem-ipsum-is54">
                                                    Lorem Ipsum is simply dummy text of
                                                </p>
                                                <p class="the-printing-and51">
                                                    the printing and typesetting industry.
                                                </p>
                                                <p class="lorem-ipsum-has51">
                                                    Lorem Ipsum has been the industry's
                                                </p>
                                                <p class="standard-dummy-text51">
                                                    standard dummy text ever since the
                                                </p>
                                                <p class="p60">1500...</p>
                                            </div>
                                            <div class="policy-text-parent">
                                                <button class="policy-text">
                                                    <div class="full-time58">Full-Time</div>
                                                </button>
                                                <div class="a-few-seconds53">a few seconds ago</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rectangle-parent137">
                                    <div class="frame-child145"></div>
                                    <div class="flat-color-iconsgoogle-parent8">
                                        <img class="flat-color-iconsgoogle10"
                                             loading="lazy"
                                             alt=""
                                             src="~/public/flatcoloriconsgoogle1.svg" />

                                        <div class="google-company-text1">
                                            <div class="software-engineer-parent38">
                                                <div class="software-engineer61">
                                                    Software Engineer
                                                </div>
                                                <div class="tdesignlocation-parent39">
                                                    <img class="tdesignlocation-icon55"
                                                         alt=""
                                                         src="~/public/tdesignlocation2.svg" />

                                                    <div class="west-us54">West US</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="frame-wrapper44">
                                        <div class="lorem-ipsum-is-simply-dummy-te-parent43">
                                            <div class="lorem-ipsum-is-container52">
                                                <p class="lorem-ipsum-is55">
                                                    Lorem Ipsum is simply dummy text of
                                                </p>
                                                <p class="the-printing-and52">
                                                    the printing and typesetting industry.
                                                </p>
                                                <p class="lorem-ipsum-has52">
                                                    Lorem Ipsum has been the industry's
                                                </p>
                                                <p class="standard-dummy-text52">
                                                    standard dummy text ever since the
                                                </p>
                                                <p class="p61">1500...</p>
                                            </div>
                                            <div class="job-posted-text-parent">
                                                <button class="job-posted-text">
                                                    <div class="full-time59">Full-Time</div>
                                                </button>
                                                <div class="a-few-seconds54">a few seconds ago</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="google-company-frame1">
                                <div class="rectangle-parent138">
                                    <div class="frame-child146"></div>
                                    <div class="skill-iconstwitter-parent9">
                                        <img class="skill-iconstwitter11"
                                             alt=""
                                             src="~/public/skilliconstwitter1.svg" />

                                        <div class="software-engineer-parent39">
                                            <div class="software-engineer62">Software Engineer</div>
                                            <div class="tdesignlocation-parent40">
                                                <img class="tdesignlocation-icon56"
                                                     alt=""
                                                     src="~/public/tdesignlocation2.svg" />

                                                <div class="west-us55">West US</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="frame-wrapper45">
                                        <div class="lorem-ipsum-is-simply-dummy-te-parent44">
                                            <div class="lorem-ipsum-is-container53">
                                                <p class="lorem-ipsum-is56">
                                                    Lorem Ipsum is simply dummy text of
                                                </p>
                                                <p class="the-printing-and53">
                                                    the printing and typesetting industry.
                                                </p>
                                                <p class="lorem-ipsum-has53">
                                                    Lorem Ipsum has been the industry's
                                                </p>
                                                <p class="standard-dummy-text53">
                                                    standard dummy text ever since the
                                                </p>
                                                <p class="p62">1500...</p>
                                            </div>
                                            <div class="frame-parent54">
                                                <button class="full-time-wrapper36">
                                                    <div class="full-time60">Full-Time</div>
                                                </button>
                                                <div class="a-few-seconds55">a few seconds ago</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rectangle-parent139">
                                    <div class="frame-child147"></div>
                                    <div class="flat-color-iconsgoogle-parent9">
                                        <img class="flat-color-iconsgoogle11"
                                             alt=""
                                             src="~/public/flatcoloriconsgoogle1.svg" />

                                        <div class="frame-wrapper46">
                                            <div class="software-engineer-parent40">
                                                <div class="software-engineer63">
                                                    Software Engineer
                                                </div>
                                                <div class="tdesignlocation-parent41">
                                                    <img class="tdesignlocation-icon57"
                                                         alt=""
                                                         src="~/public/tdesignlocation2.svg" />

                                                    <div class="west-us56">West US</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="frame-wrapper47">
                                        <div class="lorem-ipsum-is-simply-dummy-te-parent45">
                                            <div class="lorem-ipsum-is-container54">
                                                <p class="lorem-ipsum-is57">
                                                    Lorem Ipsum is simply dummy text of
                                                </p>
                                                <p class="the-printing-and54">
                                                    the printing and typesetting industry.
                                                </p>
                                                <p class="lorem-ipsum-has54">
                                                    Lorem Ipsum has been the industry's
                                                </p>
                                                <p class="standard-dummy-text54">
                                                    standard dummy text ever since the
                                                </p>
                                                <p class="p63">1500...</p>
                                            </div>
                                            <div class="frame-parent55">
                                                <button class="full-time-wrapper37">
                                                    <div class="full-time61">Full-Time</div>
                                                </button>
                                                <div class="a-few-seconds56">a few seconds ago</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="company-support-group-wrapper">
                            <div class="company-support-group1">
                                <div class="rectangle-parent140">
                                    <div class="frame-child148"></div>
                                    <div class="about-us-support-center-text1">
                                        <img class="deviconlinkedin10"
                                             alt=""
                                             src="~/public/deviconlinkedin.svg" />

                                        <div class="software-engineer-parent41">
                                            <div class="software-engineer64">Software Engineer</div>
                                            <div class="tdesignlocation-parent42">
                                                <img class="tdesignlocation-icon58"
                                                     alt=""
                                                     src="~/public/tdesignlocation2.svg" />

                                                <div class="west-us57">West US</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="policies-contact-f-a-q-frame">
                                        <div class="lorem-ipsum-is-simply-dummy-te-parent46">
                                            <div class="lorem-ipsum-is-container55">
                                                <p class="lorem-ipsum-is58">
                                                    Lorem Ipsum is simply dummy text of
                                                </p>
                                                <p class="the-printing-and55">
                                                    the printing and typesetting industry.
                                                </p>
                                                <p class="lorem-ipsum-has55">
                                                    Lorem Ipsum has been the industry's
                                                </p>
                                                <p class="standard-dummy-text55">
                                                    standard dummy text ever since the
                                                </p>
                                                <p class="p64">1500...</p>
                                            </div>
                                            <div class="policy-frame-group">
                                                <button class="policy-frame">
                                                    <div class="full-time62">Full-Time</div>
                                                </button>
                                                <div class="a-few-seconds57">a few seconds ago</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rectangle-parent141">
                                    <div class="frame-child149"></div>
                                    <div class="skill-iconstwitter-parent10">
                                        <img class="skill-iconstwitter12"
                                             alt=""
                                             src="~/public/skilliconstwitter1.svg" />

                                        <div class="software-engineer-parent42">
                                            <div class="software-engineer65">Software Engineer</div>
                                            <div class="tdesignlocation-parent43">
                                                <img class="tdesignlocation-icon59"
                                                     alt=""
                                                     src="~/public/tdesignlocation2.svg" />

                                                <div class="west-us58">West US</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="frame-wrapper48">
                                        <div class="lorem-ipsum-is-simply-dummy-te-parent47">
                                            <div class="lorem-ipsum-is-container56">
                                                <p class="lorem-ipsum-is59">
                                                    Lorem Ipsum is simply dummy text of
                                                </p>
                                                <p class="the-printing-and56">
                                                    the printing and typesetting industry.
                                                </p>
                                                <p class="lorem-ipsum-has56">
                                                    Lorem Ipsum has been the industry's
                                                </p>
                                                <p class="standard-dummy-text56">
                                                    standard dummy text ever since the
                                                </p>
                                                <p class="p65">1500...</p>
                                            </div>
                                            <div class="frame-parent56">
                                                <button class="full-time-wrapper38">
                                                    <div class="full-time63">Full-Time</div>
                                                </button>
                                                <div class="a-few-seconds58">a few seconds ago</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        @* <footer class="vector-parent1">
            <img class="frame-child150" alt="" src="./public/rectangle-14.svg" />

            <div class="frame-wrapper49">
                <div class="frame-parent57">
                    <div class="company-parent1">
                        <b class="company11">Company</b>
                        <div class="home8">Home</div>
                        <div class="about-us9">About Us</div>
                        <div class="services8">Services</div>
                        <div class="our-team8">Our Team</div>
                    </div>
                    <div class="policy-page">
                        <b class="policy9">Policy</b>
                        <div class="policies8">Policies</div>
                        <div class="contact8">Contact</div>
                        <div class="faq8">FAQ</div>
                    </div>
                    <div class="support-parent1">
                        <b class="support8">Support</b>
                        <div class="account8">Account</div>
                        <div class="support-center8">Support Center</div>
                        <div class="feedback8">Feedback</div>
                        <div class="accessibility8">Accessibility</div>
                    </div>
                </div>
            </div>
            <div class="subscribe-frame9">
                <div class="footer-section">
                    <div class="subscribe-to-our8">Subscribe to our Newsletter</div>
                    <div class="subscribe-button2">
                        <div class="facebook-icon1">
                            <div class="instagram-icon1">
                                <div class="linked-in-icon">
                                    <div class="linked-in-icon-child"></div>
                                    <div class="email-address14">Email Address</div>
                                </div>
                                <button class="subscribe-label">
                                    <div class="subscribe-label-child"></div>
                                    <div class="subscribe11">Subscribe</div>
                                </button>
                            </div>
                        </div>
                        <div class="copyright-info">
                            <img class="iconoirfacebook8"
                                 loading="lazy"
                                 alt=""
                                 src="./public/iconoirfacebook.svg" />

                            <img class="simple-iconsx8"
                                 loading="lazy"
                                 alt=""
                                 src="./public/simpleiconsx.svg" />

                            <img class="mdiinstagram-icon8"
                                 loading="lazy"
                                 alt=""
                                 src="./public/mdiinstagram.svg" />

                            <img class="rilinkedin-fill-icon8"
                                 loading="lazy"
                                 alt=""
                                 src="./public/rilinkedinfill1.svg" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="footer-copyright-child"></div>
                <div class="job-finder9">© 2024 Job Finder</div>
            </div>
        </footer> *@
    </div>
</body>
</html>
