<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="~/global.css" />
    <link rel="stylesheet" href="~/company-profile-and-logout.css" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600;700;800;900&display=swap" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" />
</head>
<body>
    <div class="company-profile-and-logout">
        <section class="company-profile-and-logout-inner">
            <div class="frame-parent72">
                <div class="full-time-status">
                    <div class="seconds-ago-status">
                        <div class="mingcutelocation-fill-container">
                            <img class="mingcutelocation-fill-icon4"
                                 loading="lazy"
                                 alt=""
                                 src="~/public/mingcutelocationfill.svg" />

                            <div class="no-location1">No Location</div>
                        </div>
                        <div class="material-symbolsmail-outline-container">
                            <img class="material-symbolsmail-outline-icon4"
                                 loading="lazy"
                                 alt=""
                                 src="~/public/materialsymbolsmailoutline.svg" />

                            <div class="no-emails1">No Emails</div>
                        </div>
                        <div class="phphone-call-container">
                            <img class="phphone-call-icon4"
                                 loading="lazy"
                                 alt=""
                                 src="~/public/phphonecall.svg" />

                            <div class="no-contacts1">No Contacts</div>
                        </div>
                        <div class="job-post7">Job Post</div>
                    </div>
                </div>
                <div class="our-team-accessibility">
                    <div class="job-posted3">Job Posted</div>
                    <div class="contact-f-a-q">
                        <div class="subscribe-text">
                            <div class="email-address-input1">
                                <div class="rectangle-parent164">
                                    <div class="frame-child178"></div>
                                    <div class="skill-iconstwitter-parent14">
                                        <img class="skill-iconstwitter19"
                                             loading="lazy"
                                             alt=""
                                             src="~/public/skilliconstwitter1.svg" />

                                        <div class="software-engineer-parent51">
                                            <div class="software-engineer78">Software Engineer</div>
                                            <div class="tdesignlocation-parent50">
                                                <img class="tdesignlocation-icon71"
                                                     loading="lazy"
                                                     alt=""
                                                     src="~/public/tdesignlocation2.svg" />

                                                <div class="west-us71">West US</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="frame-wrapper61">
                                        <div class="lorem-ipsum-is-simply-dummy-te-parent54">
                                            <div class="lorem-ipsum-is-container69">
                                                <p class="lorem-ipsum-is72">
                                                    Lorem Ipsum is simply dummy text of
                                                </p>
                                                <p class="the-printing-and69">
                                                    the printing and typesetting industry.
                                                </p>
                                                <p class="lorem-ipsum-has69">
                                                    Lorem Ipsum has been the industry's
                                                </p>
                                                <p class="standard-dummy-text69">
                                                    standard dummy text ever since the
                                                </p>
                                                <p class="p80">1500...</p>
                                            </div>
                                            <div class="frame-parent77">
                                                <button class="full-time-wrapper45">
                                                    <div class="full-time76">Full-Time</div>
                                                </button>
                                                <div class="a-few-seconds71">a few seconds ago</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rectangle-parent165">
                                    <div class="frame-child179"></div>
                                    <div class="flat-color-iconsgoogle-parent14">
                                        <img class="flat-color-iconsgoogle16"
                                             loading="lazy"
                                             alt=""
                                             src="~/public/flatcoloriconsgoogle1.svg" />

                                        <div class="frame-wrapper62">
                                            <div class="software-engineer-parent52">
                                                <div class="software-engineer79">
                                                    Software Engineer
                                                </div>
                                                <div class="tdesignlocation-parent51">
                                                    <img class="tdesignlocation-icon72"
                                                         alt=""
                                                         src="~/public/tdesignlocation2.svg" />

                                                    <div class="west-us72">West US</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="frame-wrapper63">
                                        <div class="lorem-ipsum-is-simply-dummy-te-parent55">
                                            <div class="lorem-ipsum-is-container70">
                                                <p class="lorem-ipsum-is73">
                                                    Lorem Ipsum is simply dummy text of
                                                </p>
                                                <p class="the-printing-and70">
                                                    the printing and typesetting industry.
                                                </p>
                                                <p class="lorem-ipsum-has70">
                                                    Lorem Ipsum has been the industry's
                                                </p>
                                                <p class="standard-dummy-text70">
                                                    standard dummy text ever since the
                                                </p>
                                                <p class="p81">1500...</p>
                                            </div>
                                            <div class="fulltime-status-parent">
                                                <button class="fulltime-status">
                                                    <div class="full-time77">Full-Time</div>
                                                </button>
                                                <div class="a-few-seconds72">a few seconds ago</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="email-address-input2">
                                <div class="rectangle-parent166">
                                    <div class="frame-child180"></div>
                                    <div class="skill-iconstwitter-parent15">
                                        <img class="skill-iconstwitter20"
                                             alt=""
                                             src="~/public/skilliconstwitter1.svg" />

                                        <div class="software-engineer-parent53">
                                            <div class="software-engineer80">Software Engineer</div>
                                            <div class="tdesignlocation-parent52">
                                                <img class="tdesignlocation-icon73"
                                                     alt=""
                                                     src="~/public/tdesignlocation2.svg" />

                                                <div class="west-us73">West US</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="frame-wrapper64">
                                        <div class="lorem-ipsum-is-simply-dummy-te-parent56">
                                            <div class="lorem-ipsum-is-container71">
                                                <p class="lorem-ipsum-is74">
                                                    Lorem Ipsum is simply dummy text of
                                                </p>
                                                <p class="the-printing-and71">
                                                    the printing and typesetting industry.
                                                </p>
                                                <p class="lorem-ipsum-has71">
                                                    Lorem Ipsum has been the industry's
                                                </p>
                                                <p class="standard-dummy-text71">
                                                    standard dummy text ever since the
                                                </p>
                                                <p class="p82">1500...</p>
                                            </div>
                                            <div class="frame-parent78">
                                                <button class="full-time-wrapper46">
                                                    <div class="full-time78">Full-Time</div>
                                                </button>
                                                <div class="a-few-seconds73">a few seconds ago</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rectangle-parent167">
                                    <div class="frame-child181"></div>
                                    <div class="flat-color-iconsgoogle-parent15">
                                        <img class="flat-color-iconsgoogle17"
                                             alt=""
                                             src="~/public/flatcoloriconsgoogle1.svg" />

                                        <div class="frame-wrapper65">
                                            <div class="software-engineer-parent54">
                                                <div class="software-engineer81">
                                                    Software Engineer
                                                </div>
                                                <div class="tdesignlocation-parent53">
                                                    <img class="tdesignlocation-icon74"
                                                         alt=""
                                                         src="~/public/tdesignlocation2.svg" />

                                                    <div class="west-us74">West US</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="frame-wrapper66">
                                        <div class="lorem-ipsum-is-simply-dummy-te-parent57">
                                            <div class="lorem-ipsum-is-container72">
                                                <p class="lorem-ipsum-is75">
                                                    Lorem Ipsum is simply dummy text of
                                                </p>
                                                <p class="the-printing-and72">
                                                    the printing and typesetting industry.
                                                </p>
                                                <p class="lorem-ipsum-has72">
                                                    Lorem Ipsum has been the industry's
                                                </p>
                                                <p class="standard-dummy-text72">
                                                    standard dummy text ever since the
                                                </p>
                                                <p class="p83">1500...</p>
                                            </div>
                                            <div class="frame-parent79">
                                                <button class="full-time-wrapper47">
                                                    <div class="full-time79">Full-Time</div>
                                                </button>
                                                <div class="a-few-seconds74">a few seconds ago</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="rectangle-shape2">
                            <div class="company-support-group3">
                                <div class="rectangle-parent168">
                                    <div class="frame-child182"></div>
                                    <div class="about-us-support-center">
                                        <img class="deviconlinkedin13"
                                             alt=""
                                             src="~/public/deviconlinkedin.svg" />

                                        <div class="software-engineer-parent55">
                                            <div class="software-engineer82">Software Engineer</div>
                                            <div class="tdesignlocation-parent54">
                                                <img class="tdesignlocation-icon75"
                                                     alt=""
                                                     src="~/public/tdesignlocation2.svg" />

                                                <div class="west-us75">West US</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="frame-wrapper67">
                                        <div class="lorem-ipsum-is-simply-dummy-te-parent58">
                                            <div class="lorem-ipsum-is-container73">
                                                <p class="lorem-ipsum-is76">
                                                    Lorem Ipsum is simply dummy text of
                                                </p>
                                                <p class="the-printing-and73">
                                                    the printing and typesetting industry.
                                                </p>
                                                <p class="lorem-ipsum-has73">
                                                    Lorem Ipsum has been the industry's
                                                </p>
                                                <p class="standard-dummy-text73">
                                                    standard dummy text ever since the
                                                </p>
                                                <p class="p84">1500...</p>
                                            </div>
                                            <div class="frame-parent80">
                                                <button class="full-time-wrapper48">
                                                    <div class="full-time80">Full-Time</div>
                                                </button>
                                                <div class="a-few-seconds75">a few seconds ago</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rectangle-parent169">
                                    <div class="frame-child183"></div>
                                    <div class="skill-iconstwitter-parent16">
                                        <img class="skill-iconstwitter21"
                                             alt=""
                                             src="~/public/skilliconstwitter1.svg" />

                                        <div class="software-engineer-parent56">
                                            <div class="software-engineer83">Software Engineer</div>
                                            <div class="tdesignlocation-parent55">
                                                <img class="tdesignlocation-icon76"
                                                     alt=""
                                                     src="~/public/tdesignlocation2.svg" />

                                                <div class="west-us76">West US</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="frame-wrapper68">
                                        <div class="lorem-ipsum-is-simply-dummy-te-parent59">
                                            <div class="lorem-ipsum-is-container74">
                                                <p class="lorem-ipsum-is77">
                                                    Lorem Ipsum is simply dummy text of
                                                </p>
                                                <p class="the-printing-and74">
                                                    the printing and typesetting industry.
                                                </p>
                                                <p class="lorem-ipsum-has74">
                                                    Lorem Ipsum has been the industry's
                                                </p>
                                                <p class="standard-dummy-text74">
                                                    standard dummy text ever since the
                                                </p>
                                                <p class="p85">1500...</p>
                                            </div>
                                            <div class="frame-parent81">
                                                <button class="full-time-wrapper49">
                                                    <div class="full-time81">Full-Time</div>
                                                </button>
                                                <div class="a-few-seconds76">a few seconds ago</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        @* <footer class="vector-parent4">
            <img class="frame-child184" alt="" src="~/public/rectangle-14.svg" />

            <div class="f-a-q-frame">
                <div class="our-team-container">
                    <div class="account-subframe">
                        <b class="company14">Company</b>
                        <div class="home11">Home</div>
                        <div class="about-us12">About Us</div>
                        <div class="services11">Services</div>
                        <div class="our-team11">Our Team</div>
                    </div>
                    <div class="subscribe-frame10">
                        <b class="policy12">Policy</b>
                        <div class="policies11">Policies</div>
                        <div class="contact12">Contact</div>
                        <div class="faq11">FAQ</div>
                    </div>
                    <div class="account-subframe1">
                        <b class="support11">Support</b>
                        <div class="account11">Account</div>
                        <div class="support-center11">Support Center</div>
                        <div class="feedback11">Feedback</div>
                        <div class="accessibility11">Accessibility</div>
                    </div>
                </div>
            </div>
            <div class="frame-wrapper69">
                <div class="subscribe-to-our-newsletter-container">
                    <div class="subscribe-to-our11">Subscribe to our Newsletter</div>
                    <div class="home-header">
                        <div class="support-section">
                            <div class="feedback-form-parent">
                                <div class="feedback-form">
                                    <div class="feedback-form-child"></div>
                                    <div class="email-address17">Email Address</div>
                                </div>
                                <button class="rectangle-parent170">
                                    <div class="frame-child185"></div>
                                    <div class="subscribe14">Subscribe</div>
                                </button>
                            </div>
                        </div>
                        <div class="iconoirfacebook-parent2">
                            <img class="iconoirfacebook11"
                                 loading="lazy"
                                 alt=""
                                 src="~/public/iconoirfacebook.svg" />

                            <img class="simple-iconsx11"
                                 loading="lazy"
                                 alt=""
                                 src="~/public/simpleiconsx.svg" />

                            <img class="mdiinstagram-icon11"
                                 loading="lazy"
                                 alt=""
                                 src="~/public/mdiinstagram.svg" />

                            <img class="rilinkedin-fill-icon11"
                                 loading="lazy"
                                 alt=""
                                 src="~/public/rilinkedinfill1.svg" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-notice">
                <div class="copyright-notice-child"></div>
                <div class="job-finder12">© 2024 Job Finder</div>
            </div>
        </footer> *@
    </div>
</body>
</html>
