<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="~/css/global.css" />
    <link rel="stylesheet" href="~/company-login-view-page.css" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600;700;800;900&display=swap" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" />
</head>
<body>
    <div class="company-login-view-page">
        <div class="company-login-view-page-child"></div>
        <div class="mingcutearrows-left-line1"></div>
        <section class="software-engineer-frame-wrapper">
            <div class="software-engineer-frame">
                <div class="find-your-dream-job-with-ease-parent">
                    <h1 class="find-your-dream1">Find Your Dream Job With Ease</h1>
                    <div class="frame-with-children-and-divide">
                        <div class="rectangle-parent21">
                            <div class="frame-child22"></div>
                            <div class="frame-parent13">
                                <div class="material-symbolssearch-parent">
                                    <img class="material-symbolssearch-icon1"
                                         loading="lazy"
                                         alt=""
                                         src="~/public/materialsymbolssearch.svg" />

                                    <h2 class="job-title-or1">Job Title or Keywords</h2>
                                </div>
                                <div class="carbonclose-outline-wrapper">
                                    <img class="carbonclose-outline-icon2"
                                         loading="lazy"
                                         alt=""
                                         src="~/public/carboncloseoutline.svg" />
                                </div>
                                <div class="tdesignlocation-parent13">
                                    <img class="tdesignlocation-icon16"
                                         loading="lazy"
                                         alt=""
                                         src="~/public/tdesignlocation.svg" />

                                    <h2 class="add-country-or1">Add Country or City</h2>
                                </div>
                                <img class="carbonclose-outline-icon3"
                                     alt=""
                                     src="~/public/carboncloseoutline.svg" />
                            </div>
                            <button class="group-button">
                                <div class="frame-child23"></div>
                                <b class="search1">Search</b>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="company-support-frame">
                    <div class="about-us-support-center-frame-parent">
                        <button class="about-us-support-center-frame">
                            <div class="software-engineer16">Software Engineer</div>
                        </button>
                        <button class="about-us-support-center-frame1">
                            <div class="developer1">Developer</div>
                        </button>
                        <button class="about-us-support-center-frame2">
                            <div class="full-stack-developer1">Full-Stack Developer</div>
                        </button>
                        <button class="about-us-support-center-frame3">
                            <div class="data-scientist1">Data Scientist</div>
                        </button>
                        <button class="about-us-support-center-frame4">
                            <div class="remote1">Remote</div>
                        </button>
                        <button class="about-us-support-center-frame5">
                            <div class="full-time17">Full-Time</div>
                        </button>
                        <button class="about-us-support-center-frame6">
                            <div class="sales1">Sales</div>
                        </button>
                        <button class="about-us-support-center-frame7">
                            <div class="office-assistant1">Office Assistant</div>
                        </button>
                    </div>
                    <div class="showing-1902-jobs-available-parent">
                        <h2 class="showing-1902-jobs-container1">
                            <span>Showing: </span>
                            <span class="span1">1,902</span>
                            <span> Jobs Available</span>
                        </h2>
                        <div class="sort-by-parent">
                            <h2 class="sort-by1">Sort By:</h2>
                            <div class="subscribe-button">
                                <div class="subscribe-button-child"></div>
                                <div class="newest1">Newest</div>
                                <img class="phcaret-up-down-bold-icon1"
                                     alt=""
                                     src="~/public/phcaretupdownbold.svg" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mdi-instagram-icon-link">
                    <div class="rectangle-parent22">
                        <div class="frame-child24"></div>
                        <div class="frame-group-a">
                            <div class="group-parent">
                                <img class="group-icon1"
                                     loading="lazy"
                                     alt=""
                                     src="~/public/group.svg" />

                                <h2 class="job-type1">Job Type</h2>
                            </div>
                            <div class="frame-software-engineer-parent">
                                <div class="frame-software-engineer">
                                    <div class="frame-location"></div>
                                    <div class="full-time18">Full-Time</div>
                                </div>
                                <div class="full-time-part-time">
                                    <div class="frame-social-media1"></div>
                                    <div class="part-time1">Part-Time</div>
                                </div>
                                <div class="home-about-us">
                                    <div class="services-feedback"></div>
                                    <div class="contract1">ContracT</div>
                                </div>
                                <div class="policy-f-a-q">
                                    <div class="subscribeto-newsletter"></div>
                                    <div class="intern1">Intern</div>
                                </div>
                            </div>
                        </div>
                        <div class="frame-group-a1">
                            <div class="stars-1-group">
                                <img class="stars-1-icon1"
                                     loading="lazy"
                                     alt=""
                                     src="~/public/stars-1.svg" />

                                <h2 class="experience1">Experience</h2>
                            </div>
                            <div class="frame-parent14">
                                <div class="rectangle-parent23">
                                    <div class="frame-child25"></div>
                                    <div class="under-1-year1">Under 1 Year</div>
                                </div>
                                <div class="rectangle-parent24">
                                    <div class="frame-child26"></div>
                                    <div class="year2">1 - 2 Year</div>
                                </div>
                                <div class="rectangle-parent25">
                                    <div class="frame-child27"></div>
                                    <div class="year3">2 - 6 Year</div>
                                </div>
                                <div class="rectangle-parent26">
                                    <div class="frame-child28"></div>
                                    <div class="over-6-years1">Over 6 Years</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="company-logo1">
                        <div class="frame-parent15">
                            <div class="rectangle-parent27">
                                <div class="frame-child29"></div>
                                <div class="skill-iconstwitter-parent3">
                                    <img class="skill-iconstwitter5"
                                         loading="lazy"
                                         alt=""
                                         src="~/public/skilliconstwitter.svg" />

                                    <div class="software-engineer-parent13">
                                        <div class="software-engineer17">Software Engineer</div>
                                        <div class="tdesignlocation-parent14">
                                            <img class="tdesignlocation-icon17"
                                                 alt=""
                                                 src="~/public/tdesignlocation-1.svg" />

                                            <div class="west-us15">West US</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="frame-wrapper20">
                                    <div class="lorem-ipsum-is-simply-dummy-te-parent13">
                                        <div class="lorem-ipsum-is-container15">
                                            <p class="lorem-ipsum-is15">
                                                Lorem Ipsum is simply dummy text of
                                            </p>
                                            <p class="the-printing-and15">
                                                the printing and typesetting industry.
                                            </p>
                                            <p class="lorem-ipsum-has15">
                                                Lorem Ipsum has been the industry's
                                            </p>
                                            <p class="standard-dummy-text15">
                                                standard dummy text ever since the
                                            </p>
                                            <p class="p15">1500...</p>
                                        </div>
                                        <div class="frame-footer-parent">
                                            <button class="frame-footer">
                                                <div class="full-time19">Full-Time</div>
                                            </button>
                                            <div class="a-few-seconds15">a few seconds ago</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="rectangle-parent28">
                                <div class="frame-child30"></div>
                                <div class="flat-color-iconsgoogle-parent3">
                                    <img class="flat-color-iconsgoogle5"
                                         loading="lazy"
                                         alt=""
                                         src="~/public/flatcoloriconsgoogle.svg" />

                                    <div class="frame-wrapper21">
                                        <div class="software-engineer-parent14">
                                            <div class="software-engineer18">Software Engineer</div>
                                            <div class="tdesignlocation-parent15">
                                                <img class="tdesignlocation-icon18"
                                                     alt=""
                                                     src="~/public/tdesignlocation-1.svg" />

                                                <div class="west-us16">West US</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="frame-wrapper22">
                                    <div class="lorem-ipsum-is-simply-dummy-te-parent14">
                                        <div class="lorem-ipsum-is-container16">
                                            <p class="lorem-ipsum-is16">
                                                Lorem Ipsum is simply dummy text of
                                            </p>
                                            <p class="the-printing-and16">
                                                the printing and typesetting industry.
                                            </p>
                                            <p class="lorem-ipsum-has16">
                                                Lorem Ipsum has been the industry's
                                            </p>
                                            <p class="standard-dummy-text16">
                                                standard dummy text ever since the
                                            </p>
                                            <p class="p16">1500...</p>
                                        </div>
                                        <div class="subheader-parent">
                                            <button class="subheader">
                                                <div class="full-time20">Full-Time</div>
                                            </button>
                                            <div class="a-few-seconds16">a few seconds ago</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="rectangle-parent29">
                                <div class="frame-child31"></div>
                                <div class="deviconlinkedin-parent3">
                                    <img class="deviconlinkedin5"
                                         loading="lazy"
                                         alt=""
                                         src="~/public/deviconlinkedin.svg" />

                                    <div class="software-engineer-parent15">
                                        <div class="software-engineer19">Software Engineer</div>
                                        <div class="tdesignlocation-parent16">
                                            <img class="tdesignlocation-icon19"
                                                 alt=""
                                                 src="~/public/tdesignlocation-1.svg" />

                                            <div class="west-us17">West US</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="frame-wrapper23">
                                    <div class="lorem-ipsum-is-simply-dummy-te-parent15">
                                        <div class="lorem-ipsum-is-container17">
                                            <p class="lorem-ipsum-is17">
                                                Lorem Ipsum is simply dummy text of
                                            </p>
                                            <p class="the-printing-and17">
                                                the printing and typesetting industry.
                                            </p>
                                            <p class="lorem-ipsum-has17">
                                                Lorem Ipsum has been the industry's
                                            </p>
                                            <p class="standard-dummy-text17">
                                                standard dummy text ever since the
                                            </p>
                                            <p class="p17">1500...</p>
                                        </div>
                                        <div class="tab-content-parent">
                                            <button class="tab-content">
                                                <div class="full-time21">Full-Time</div>
                                            </button>
                                            <div class="a-few-seconds17">a few seconds ago</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="frame-parent16">
                            <div class="rectangle-parent30">
                                <div class="frame-child32"></div>
                                <div class="skill-iconstwitter-parent4">
                                    <img class="skill-iconstwitter6"
                                         alt=""
                                         src="~/public/skilliconstwitter.svg" />

                                    <div class="software-engineer-parent16">
                                        <div class="software-engineer20">Software Engineer</div>
                                        <div class="tdesignlocation-parent17">
                                            <img class="tdesignlocation-icon20"
                                                 alt=""
                                                 src="~/public/tdesignlocation-1.svg" />

                                            <div class="west-us18">West US</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="frame-wrapper24">
                                    <div class="lorem-ipsum-is-simply-dummy-te-parent16">
                                        <div class="lorem-ipsum-is-container18">
                                            <p class="lorem-ipsum-is18">
                                                Lorem Ipsum is simply dummy text of
                                            </p>
                                            <p class="the-printing-and18">
                                                the printing and typesetting industry.
                                            </p>
                                            <p class="lorem-ipsum-has18">
                                                Lorem Ipsum has been the industry's
                                            </p>
                                            <p class="standard-dummy-text18">
                                                standard dummy text ever since the
                                            </p>
                                            <p class="p18">1500...</p>
                                        </div>
                                        <div class="frame-parent17">
                                            <button class="full-time-wrapper8">
                                                <div class="full-time22">Full-Time</div>
                                            </button>
                                            <div class="a-few-seconds18">a few seconds ago</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="rectangle-parent31">
                                <div class="frame-child33"></div>
                                <div class="flat-color-iconsgoogle-parent4">
                                    <img class="flat-color-iconsgoogle6"
                                         alt=""
                                         src="~/public/flatcoloriconsgoogle.svg" />

                                    <div class="frame-wrapper25">
                                        <div class="software-engineer-parent17">
                                            <div class="software-engineer21">Software Engineer</div>
                                            <div class="tdesignlocation-parent18">
                                                <img class="tdesignlocation-icon21"
                                                     alt=""
                                                     src="~/public/tdesignlocation-1.svg" />

                                                <div class="west-us19">West US</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="frame-wrapper26">
                                    <div class="lorem-ipsum-is-simply-dummy-te-parent17">
                                        <div class="lorem-ipsum-is-container19">
                                            <p class="lorem-ipsum-is19">
                                                Lorem Ipsum is simply dummy text of
                                            </p>
                                            <p class="the-printing-and19">
                                                the printing and typesetting industry.
                                            </p>
                                            <p class="lorem-ipsum-has19">
                                                Lorem Ipsum has been the industry's
                                            </p>
                                            <p class="standard-dummy-text19">
                                                standard dummy text ever since the
                                            </p>
                                            <p class="p19">1500...</p>
                                        </div>
                                        <div class="frame-parent18">
                                            <button class="full-time-wrapper9">
                                                <div class="full-time23">Full-Time</div>
                                            </button>
                                            <div class="a-few-seconds19">a few seconds ago</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="rectangle-parent32">
                                <div class="frame-child34"></div>
                                <div class="deviconlinkedin-parent4">
                                    <img class="deviconlinkedin6"
                                         alt=""
                                         src="~/public/deviconlinkedin.svg" />

                                    <div class="software-engineer-parent18">
                                        <div class="software-engineer22">Software Engineer</div>
                                        <div class="tdesignlocation-parent19">
                                            <img class="tdesignlocation-icon22"
                                                 alt=""
                                                 src="~/public/tdesignlocation-1.svg" />

                                            <div class="west-us20">West US</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="frame-wrapper27">
                                    <div class="lorem-ipsum-is-simply-dummy-te-parent18">
                                        <div class="lorem-ipsum-is-container20">
                                            <p class="lorem-ipsum-is20">
                                                Lorem Ipsum is simply dummy text of
                                            </p>
                                            <p class="the-printing-and20">
                                                the printing and typesetting industry.
                                            </p>
                                            <p class="lorem-ipsum-has20">
                                                Lorem Ipsum has been the industry's
                                            </p>
                                            <p class="standard-dummy-text20">
                                                standard dummy text ever since the
                                            </p>
                                            <p class="p20">1500...</p>
                                        </div>
                                        <div class="frame-parent19">
                                            <button class="full-time-wrapper10">
                                                <div class="full-time24">Full-Time</div>
                                            </button>
                                            <div class="a-few-seconds20">a few seconds ago</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="rectangle">
                            <div class="frame-parent20">
                                <div class="rectangle-parent33">
                                    <div class="frame-child35"></div>
                                    <div class="skill-iconstwitter-parent5">
                                        <img class="skill-iconstwitter7"
                                             alt=""
                                             src="~/public/skilliconstwitter.svg" />

                                        <div class="software-engineer-parent19">
                                            <div class="software-engineer23">Software Engineer</div>
                                            <div class="tdesignlocation-parent20">
                                                <img class="tdesignlocation-icon23"
                                                     alt=""
                                                     src="~/public/tdesignlocation-1.svg" />

                                                <div class="west-us21">West US</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="frame-wrapper28">
                                        <div class="lorem-ipsum-is-simply-dummy-te-parent19">
                                            <div class="lorem-ipsum-is-container21">
                                                <p class="lorem-ipsum-is21">
                                                    Lorem Ipsum is simply dummy text of
                                                </p>
                                                <p class="the-printing-and21">
                                                    the printing and typesetting industry.
                                                </p>
                                                <p class="lorem-ipsum-has21">
                                                    Lorem Ipsum has been the industry's
                                                </p>
                                                <p class="standard-dummy-text21">
                                                    standard dummy text ever since the
                                                </p>
                                                <p class="p21">1500...</p>
                                            </div>
                                            <div class="frame-parent21">
                                                <button class="full-time-wrapper11">
                                                    <div class="full-time25">Full-Time</div>
                                                </button>
                                                <div class="a-few-seconds21">a few seconds ago</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rectangle-parent34">
                                    <div class="frame-child36"></div>
                                    <div class="flat-color-iconsgoogle-parent5">
                                        <img class="flat-color-iconsgoogle7"
                                             alt=""
                                             src="~/public/flatcoloriconsgoogle.svg" />

                                        <div class="frame-wrapper29">
                                            <div class="software-engineer-parent20">
                                                <div class="software-engineer24">
                                                    Software Engineer
                                                </div>
                                                <div class="tdesignlocation-parent21">
                                                    <img class="tdesignlocation-icon24"
                                                         alt=""
                                                         src="~/public/tdesignlocation-1.svg" />

                                                    <div class="west-us22">West US</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="frame-wrapper30">
                                        <div class="lorem-ipsum-is-simply-dummy-te-parent20">
                                            <div class="lorem-ipsum-is-container22">
                                                <p class="lorem-ipsum-is22">
                                                    Lorem Ipsum is simply dummy text of
                                                </p>
                                                <p class="the-printing-and22">
                                                    the printing and typesetting industry.
                                                </p>
                                                <p class="lorem-ipsum-has22">
                                                    Lorem Ipsum has been the industry's
                                                </p>
                                                <p class="standard-dummy-text22">
                                                    standard dummy text ever since the
                                                </p>
                                                <p class="p22">1500...</p>
                                            </div>
                                            <div class="frame-parent22">
                                                <button class="full-time-wrapper12">
                                                    <div class="full-time26">Full-Time</div>
                                                </button>
                                                <div class="a-few-seconds22">a few seconds ago</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rectangle-parent35">
                                    <div class="frame-child37"></div>
                                    <div class="deviconlinkedin-parent5">
                                        <img class="deviconlinkedin7"
                                             alt=""
                                             src="~/public/deviconlinkedin.svg" />

                                        <div class="software-engineer-parent21">
                                            <div class="software-engineer25">Software Engineer</div>
                                            <div class="tdesignlocation-parent22">
                                                <img class="tdesignlocation-icon25"
                                                     alt=""
                                                     src="~/public/tdesignlocation-1.svg" />

                                                <div class="west-us23">West US</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="frame-wrapper31">
                                        <div class="lorem-ipsum-is-simply-dummy-te-parent21">
                                            <div class="lorem-ipsum-is-container23">
                                                <p class="lorem-ipsum-is23">
                                                    Lorem Ipsum is simply dummy text of
                                                </p>
                                                <p class="the-printing-and23">
                                                    the printing and typesetting industry.
                                                </p>
                                                <p class="lorem-ipsum-has23">
                                                    Lorem Ipsum has been the industry's
                                                </p>
                                                <p class="standard-dummy-text23">
                                                    standard dummy text ever since the
                                                </p>
                                                <p class="p23">1500...</p>
                                            </div>
                                            <div class="frame-parent23">
                                                <button class="full-time-wrapper13">
                                                    <div class="full-time27">Full-Time</div>
                                                </button>
                                                <div class="a-few-seconds23">a few seconds ago</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-frame-a">
                            <div class="rectangle-parent36">
                                <div class="frame-child38"></div>
                                <div class="skill-iconstwitter-parent6">
                                    <img class="skill-iconstwitter8"
                                         alt=""
                                         src="~/public/skilliconstwitter.svg" />

                                    <div class="software-engineer-parent22">
                                        <div class="software-engineer26">Software Engineer</div>
                                        <div class="tdesignlocation-parent23">
                                            <img class="tdesignlocation-icon26"
                                                 alt=""
                                                 src="~/public/tdesignlocation-1.svg" />

                                            <div class="west-us24">West US</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="frame-wrapper32">
                                    <div class="lorem-ipsum-is-simply-dummy-te-parent22">
                                        <div class="lorem-ipsum-is-container24">
                                            <p class="lorem-ipsum-is24">
                                                Lorem Ipsum is simply dummy text of
                                            </p>
                                            <p class="the-printing-and24">
                                                the printing and typesetting industry.
                                            </p>
                                            <p class="lorem-ipsum-has24">
                                                Lorem Ipsum has been the industry's
                                            </p>
                                            <p class="standard-dummy-text24">
                                                standard dummy text ever since the
                                            </p>
                                            <p class="p24">1500...</p>
                                        </div>
                                        <div class="frame-parent24">
                                            <button class="full-time-wrapper14">
                                                <div class="full-time28">Full-Time</div>
                                            </button>
                                            <div class="a-few-seconds24">a few seconds ago</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="rectangle-parent37">
                                <div class="frame-child39"></div>
                                <div class="flat-color-iconsgoogle-parent6">
                                    <img class="flat-color-iconsgoogle8"
                                         alt=""
                                         src="~/public/flatcoloriconsgoogle.svg" />

                                    <div class="frame-wrapper33">
                                        <div class="software-engineer-parent23">
                                            <div class="software-engineer27">Software Engineer</div>
                                            <div class="tdesignlocation-parent24">
                                                <img class="tdesignlocation-icon27"
                                                     alt=""
                                                     src="~/public/tdesignlocation-1.svg" />

                                                <div class="west-us25">West US</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="frame-wrapper34">
                                    <div class="lorem-ipsum-is-simply-dummy-te-parent23">
                                        <div class="lorem-ipsum-is-container25">
                                            <p class="lorem-ipsum-is25">
                                                Lorem Ipsum is simply dummy text of
                                            </p>
                                            <p class="the-printing-and25">
                                                the printing and typesetting industry.
                                            </p>
                                            <p class="lorem-ipsum-has25">
                                                Lorem Ipsum has been the industry's
                                            </p>
                                            <p class="standard-dummy-text25">
                                                standard dummy text ever since the
                                            </p>
                                            <p class="p25">1500...</p>
                                        </div>
                                        <div class="frame-parent25">
                                            <button class="full-time-wrapper15">
                                                <div class="full-time29">Full-Time</div>
                                            </button>
                                            <div class="a-few-seconds25">a few seconds ago</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="rectangle-parent38">
                                <div class="frame-child40"></div>
                                <div class="deviconlinkedin-parent6">
                                    <img class="deviconlinkedin8"
                                         alt=""
                                         src="~/public/deviconlinkedin.svg" />

                                    <div class="software-engineer-parent24">
                                        <div class="software-engineer28">Software Engineer</div>
                                        <div class="tdesignlocation-parent25">
                                            <img class="tdesignlocation-icon28"
                                                 alt=""
                                                 src="~/public/tdesignlocation-1.svg" />

                                            <div class="west-us26">West US</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="frame-wrapper35">
                                    <div class="lorem-ipsum-is-simply-dummy-te-parent24">
                                        <div class="lorem-ipsum-is-container26">
                                            <p class="lorem-ipsum-is26">
                                                Lorem Ipsum is simply dummy text of
                                            </p>
                                            <p class="the-printing-and26">
                                                the printing and typesetting industry.
                                            </p>
                                            <p class="lorem-ipsum-has26">
                                                Lorem Ipsum has been the industry's
                                            </p>
                                            <p class="standard-dummy-text26">
                                                standard dummy text ever since the
                                            </p>
                                            <p class="p26">1500...</p>
                                        </div>
                                        <div class="frame-parent26">
                                            <button class="full-time-wrapper16">
                                                <div class="full-time30">Full-Time</div>
                                            </button>
                                            <div class="a-few-seconds26">a few seconds ago</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="rectangle-parent39">
                                <div class="frame-child41"></div>
                                <div class="skill-iconstwitter-parent7">
                                    <img class="skill-iconstwitter9"
                                         alt=""
                                         src="~/public/skilliconstwitter.svg" />

                                    <div class="software-engineer-parent25">
                                        <div class="software-engineer29">Software Engineer</div>
                                        <div class="tdesignlocation-parent26">
                                            <img class="tdesignlocation-icon29"
                                                 alt=""
                                                 src="~/public/tdesignlocation-1.svg" />

                                            <div class="west-us27">West US</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="frame-wrapper36">
                                    <div class="lorem-ipsum-is-simply-dummy-te-parent25">
                                        <div class="lorem-ipsum-is-container27">
                                            <p class="lorem-ipsum-is27">
                                                Lorem Ipsum is simply dummy text of
                                            </p>
                                            <p class="the-printing-and27">
                                                the printing and typesetting industry.
                                            </p>
                                            <p class="lorem-ipsum-has27">
                                                Lorem Ipsum has been the industry's
                                            </p>
                                            <p class="standard-dummy-text27">
                                                standard dummy text ever since the
                                            </p>
                                            <p class="p27">1500...</p>
                                        </div>
                                        <div class="frame-parent27">
                                            <button class="full-time-wrapper17">
                                                <div class="full-time31">Full-Time</div>
                                            </button>
                                            <div class="a-few-seconds27">a few seconds ago</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="rectangle-parent40">
                                <div class="frame-child42"></div>
                                <div class="flat-color-iconsgoogle-parent7">
                                    <img class="flat-color-iconsgoogle9"
                                         alt=""
                                         src="~/public/flatcoloriconsgoogle.svg" />

                                    <div class="frame-wrapper37">
                                        <div class="software-engineer-parent26">
                                            <div class="software-engineer30">Software Engineer</div>
                                            <div class="tdesignlocation-parent27">
                                                <img class="tdesignlocation-icon30"
                                                     alt=""
                                                     src="~/public/tdesignlocation-1.svg" />

                                                <div class="west-us28">West US</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="frame-wrapper38">
                                    <div class="lorem-ipsum-is-simply-dummy-te-parent26">
                                        <div class="lorem-ipsum-is-container28">
                                            <p class="lorem-ipsum-is28">
                                                Lorem Ipsum is simply dummy text of
                                            </p>
                                            <p class="the-printing-and28">
                                                the printing and typesetting industry.
                                            </p>
                                            <p class="lorem-ipsum-has28">
                                                Lorem Ipsum has been the industry's
                                            </p>
                                            <p class="standard-dummy-text28">
                                                standard dummy text ever since the
                                            </p>
                                            <p class="p28">1500...</p>
                                        </div>
                                        <div class="frame-parent28">
                                            <button class="full-time-wrapper18">
                                                <div class="full-time32">Full-Time</div>
                                            </button>
                                            <div class="a-few-seconds28">a few seconds ago</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="rectangle-parent41">
                                <div class="frame-child43"></div>
                                <div class="deviconlinkedin-parent7">
                                    <img class="deviconlinkedin9"
                                         alt=""
                                         src="~/public/deviconlinkedin.svg" />

                                    <div class="software-engineer-parent27">
                                        <div class="software-engineer31">Software Engineer</div>
                                        <div class="tdesignlocation-parent28">
                                            <img class="tdesignlocation-icon31"
                                                 alt=""
                                                 src="~/public/tdesignlocation-1.svg" />

                                            <div class="west-us29">West US</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="frame-wrapper39">
                                    <div class="lorem-ipsum-is-simply-dummy-te-parent27">
                                        <div class="lorem-ipsum-is-container29">
                                            <p class="lorem-ipsum-is29">
                                                Lorem Ipsum is simply dummy text of
                                            </p>
                                            <p class="the-printing-and29">
                                                the printing and typesetting industry.
                                            </p>
                                            <p class="lorem-ipsum-has29">
                                                Lorem Ipsum has been the industry's
                                            </p>
                                            <p class="standard-dummy-text29">
                                                standard dummy text ever since the
                                            </p>
                                            <p class="p29">1500...</p>
                                        </div>
                                        <div class="frame-parent29">
                                            <button class="full-time-wrapper19">
                                                <div class="full-time33">Full-Time</div>
                                            </button>
                                            <div class="a-few-seconds29">a few seconds ago</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        @* <footer class="vector-group">
            <img class="frame-child44" alt="" src="~/public/rectangle-14.svg" />

            <div class="frame-b">
                <div class="company1">
                    <div class="company-parent">
                        <h2 class="company2">Company</h2>
                        <h2 class="home1">Home</h2>
                        <h2 class="about-us1">About Us</h2>
                        <h2 class="services1">Services</h2>
                        <h2 class="our-team1">Our Team</h2>
                    </div>
                    <div class="policy-group">
                        <h2 class="policy1">Policy</h2>
                        <h2 class="policies1">Policies</h2>
                        <h2 class="contact1">Contact</h2>
                        <h2 class="faq1">FAQ</h2>
                    </div>
                    <div class="support-parent">
                        <h2 class="support1">Support</h2>
                        <h2 class="account1">Account</h2>
                        <h2 class="support-center1">Support Center</h2>
                        <h2 class="feedback1">Feedback</h2>
                        <h2 class="accessibility1">Accessibility</h2>
                    </div>
                </div>
            </div>
            <div class="frame-wrapper40">
                <div class="subscribe-to-our-newsletter-group">
                    <h2 class="subscribe-to-our1">Subscribe to our Newsletter</h2>
                    <div class="frame-subscribe">
                        <div class="policy2">
                            <div class="frame-parent30">
                                <div class="rectangle-parent42">
                                    <div class="frame-child45"></div>
                                    <h3 class="email-address1">Email Address</h3>
                                </div>
                                <button class="rectangle-parent43">
                                    <div class="frame-child46"></div>
                                    <div class="subscribe2">Subscribe</div>
                                </button>
                            </div>
                        </div>
                        <div class="iconoirfacebook-parent">
                            <img class="iconoirfacebook1"
                                 loading="lazy"
                                 alt=""
                                 src="~/public/iconoirfacebook.svg" />

                            <img class="simple-iconsx1"
                                 loading="lazy"
                                 alt=""
                                 src="~/public/simpleiconsx.svg" />

                            <img class="mdiinstagram-icon1"
                                 loading="lazy"
                                 alt=""
                                 src="~/public/mdiinstagram.svg" />

                            <img class="rilinkedin-fill-icon1"
                                 loading="lazy"
                                 alt=""
                                 src="~/public/rilinkedinfill.svg" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="instagram-icon">
                <div class="instagram-icon-child"></div>
                <div class="job-finder1">© 2024 Job Finder</div>
            </div>
        </footer> *@
    </div>
</body>
</html>
