<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="~/css/global.css" />
    <link rel="stylesheet" href="~/css/index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600;700;800;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
    />
  </head>
  <body>
    <div class="home-page">
      
      <div class="home-page-child"></div>
      <div class="mingcutearrows-left-line"></div>
      <section class="paragraph-policy">
        <div class="icon-support">
          <div class="frame-contact">
            <h1 class="find-your-dream">Find Your Dream Job With Ease</h1>
            <div class="subscribe">
              <div class="frame-social-media">
                <div class="frame-social-media-child"></div>
                <div class="icon-facebook">
                  <div class="simpleiconsx">
                    <img
                      class="material-symbolssearch-icon"
                      loading="lazy"
                      alt=""
                      src="~/public/materialsymbolssearch.svg"
                    />

                    <h2 class="job-title-or">Job Title or Keywords</h2>
                  </div>
                  <div class="text-copyright">
                    <img
                      class="carbonclose-outline-icon"
                      loading="lazy"
                      alt=""
                      src="~/public/carboncloseoutline.svg"
                    />
                  </div>
                  <div class="simpleiconsx1">
                    <img
                      class="tdesignlocation-icon"
                      loading="lazy"
                      alt=""
                      src="~/public/tdesignlocation.svg"
                    />

                    <h2 class="add-country-or">Add Country or City</h2>
                  </div>
                  <img
                    class="carbonclose-outline-icon1"
                    loading="lazy"
                    alt=""
                    src="~/public/carboncloseoutline.svg"
                  />
                </div>
                <button class="rectangle-group">
                  <div class="frame-item"></div>
                  <b class="search">Search</b>
                </button>
              </div>
            </div>
          </div>
          <div class="shape-with-text">
            <div class="rectangle-with-text">
              <button class="image-frame">
                <div class="software-engineer">Software Engineer</div>
              </button>
              <button class="image-frame1">
                <div class="developer">Developer</div>
              </button>
              <button class="image-frame2">
                <div class="full-stack-developer">Full-Stack Developer</div>
              </button>
              <button class="image-frame3">
                <div class="data-scientist">Data Scientist</div>
              </button>
              <button class="image-frame4">
                <div class="remote">Remote</div>
              </button>
              <button class="image-frame5">
                <div class="full-time">Full-Time</div>
              </button>
              
            </div>
            <div class="grouped-frames">
              <h2 class="showing-1902-jobs-container">
                <span>Showing: </span>
                <span class="span">1,902</span>
                <span> Jobs Available</span>
              </h2>
              <div class="multi-level-frame">
                <h2 class="sort-by">Sort By:</h2>
                <div class="grid-layout">
                  <div class="grid-layout-child"></div>
                  <div class="newest">Newest</div>
                  <img
                    class="phcaret-up-down-bold-icon"
                    alt=""
                    src="~/public/phcaretupdownbold.svg"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="rectangle-shape">
            <div class="rectangle-container">
              <div class="frame-inner"></div>
              <div class="rounded-rectangle">
                <div class="ellipse-shape">
                  <img
                    class="group-icon"
                    loading="lazy"
                    alt=""
                    src="~/public/group.svg"
                  />

                  <h2 class="job-type">Job Type</h2>
                </div>
                <div class="complex-layout">
                  <div class="frame-div">
                    <div class="rectangle-div"></div>
                    <div class="full-time1">Full-Time</div>
                  </div>
                  <div class="rectangle-parent1">
                    <div class="frame-child1"></div>
                    <div class="part-time">Part-Time</div>
                  </div>
                  <div class="rectangle-parent2">
                    <div class="frame-child2"></div>
                    <div class="contract">ContracT</div>
                  </div>
                  <div class="policies-group">
                    <div class="f-a-q-group"></div>
                    <div class="intern">Intern</div>
                  </div>
                </div>
              </div>
              <div class="rounded-rectangle1">
                <div class="stars-1-parent">
                  <img
                    class="stars-1-icon"
                    loading="lazy"
                    alt=""
                    src="~/public/stars-1.svg"
                  />

                  <h2 class="experience">Experience</h2>
                </div>
                <div class="frame-parent">
                  <div class="rectangle-parent3">
                    <div class="frame-child3"></div>
                    <div class="under-1-year">Under 1 Year</div>
                  </div>
                  <div class="rectangle-parent4">
                    <div class="frame-child4"></div>
                    <div class="year">1 - 2 Year</div>
                  </div>
                  <div class="rectangle-parent5">
                    <div class="frame-child5"></div>
                    <div class="year1">2 - 6 Year</div>
                  </div>
                  <div class="rectangle-parent6">
                    <div class="frame-child6"></div>
                    <div class="over-6-years">Over 6 Years</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="subscribe-btn">
              <div class="frame-group">
                <div class="group-div">
                  <div class="frame-child7"></div>
                  <div class="skill-iconstwitter-parent">
                    <img
                      class="skill-iconstwitter"
                      loading="lazy"
                      alt=""
                      src="~/public/skilliconstwitter.svg"
                    />

                    <div class="software-engineer-parent">
                      <div class="software-engineer1">Software Engineer</div>
                      <div class="tdesignlocation-parent">
                        <img
                          class="tdesignlocation-icon1"
                          loading="lazy"
                          alt=""
                          src="~/public/tdesignlocation-1.svg"
                        />

                        <div class="west-us">West US</div>
                      </div>
                    </div>
                  </div>
                  <div class="frame-wrapper">
                    <div class="lorem-ipsum-is-simply-dummy-te-parent">
                      <div class="lorem-ipsum-is-container">
                        <p class="lorem-ipsum-is">
                          Lorem Ipsum is simply dummy text of
                        </p>
                        <p class="the-printing-and">
                          the printing and typesetting industry.
                        </p>
                        <p class="lorem-ipsum-has">
                          Lorem Ipsum has been the industry's
                        </p>
                        <p class="standard-dummy-text">
                          standard dummy text ever since the
                        </p>
                        <p class="p">1500...</p>
                      </div>
                      <div class="company-logo-parent">
                        <button class="company-logo">
                          <div class="full-time2">Full-Time</div>
                        </button>
                        <div class="a-few-seconds">a few seconds ago</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="rectangle-parent7">
                  <div class="frame-child8"></div>
                  <div class="flat-color-iconsgoogle-parent">
                    <img
                      class="flat-color-iconsgoogle"
                      loading="lazy"
                      alt=""
                      src="~/public/flatcoloriconsgoogle.svg"
                    />

                    <div class="frame-container">
                      <div class="software-engineer-group">
                        <div class="software-engineer2">Software Engineer</div>
                        <div class="tdesignlocation-group">
                          <img
                            class="tdesignlocation-icon2"
                            alt=""
                            src="~/public/tdesignlocation-1.svg"
                          />

                          <div class="west-us1">West US</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="frame-wrapper1">
                    <div class="lorem-ipsum-is-simply-dummy-te-group">
                      <div class="lorem-ipsum-is-container1">
                        <p class="lorem-ipsum-is1">
                          Lorem Ipsum is simply dummy text of
                        </p>
                        <p class="the-printing-and1">
                          the printing and typesetting industry.
                        </p>
                        <p class="lorem-ipsum-has1">
                          Lorem Ipsum has been the industry's
                        </p>
                        <p class="standard-dummy-text1">
                          standard dummy text ever since the
                        </p>
                        <p class="p1">1500...</p>
                      </div>
                      <div class="text-block-parent">
                        <button class="text-block">
                          <div class="full-time3">Full-Time</div>
                        </button>
                        <div class="a-few-seconds1">a few seconds ago</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="rectangle-parent8">
                  <div class="frame-child9"></div>
                  <div class="deviconlinkedin-parent">
                    <img
                      class="deviconlinkedin"
                      loading="lazy"
                      alt=""
                      src="~/public/deviconlinkedin.svg"
                    />

                    <div class="software-engineer-container">
                      <div class="software-engineer3">Software Engineer</div>
                      <div class="tdesignlocation-container">
                        <img
                          class="tdesignlocation-icon3"
                          alt=""
                          src="~/public/tdesignlocation-1.svg"
                        />

                        <div class="west-us2">West US</div>
                      </div>
                    </div>
                  </div>
                  <div class="frame-wrapper2">
                    <div class="lorem-ipsum-is-simply-dummy-te-container">
                      <div class="lorem-ipsum-is-container2">
                        <p class="lorem-ipsum-is2">
                          Lorem Ipsum is simply dummy text of
                        </p>
                        <p class="the-printing-and2">
                          the printing and typesetting industry.
                        </p>
                        <p class="lorem-ipsum-has2">
                          Lorem Ipsum has been the industry's
                        </p>
                        <p class="standard-dummy-text2">
                          standard dummy text ever since the
                        </p>
                        <p class="p2">1500...</p>
                      </div>
                      <div class="list-parent">
                        <button class="list">
                          <div class="full-time4">Full-Time</div>
                        </button>
                        <div class="a-few-seconds2">a few seconds ago</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="facebook-icon">
                <div class="rectangle-parent9">
                  <div class="frame-child10"></div>
                  <div class="skill-iconstwitter-group">
                    <img
                      class="skill-iconstwitter1"
                      loading="lazy"
                      alt=""
                      src="~/public/skilliconstwitter.svg"
                    />

                    <div class="software-engineer-parent1">
                      <div class="software-engineer4">Software Engineer</div>
                      <div class="tdesignlocation-parent1">
                        <img
                          class="tdesignlocation-icon4"
                          loading="lazy"
                          alt=""
                          src="~/public/tdesignlocation-1.svg"
                        />

                        <div class="west-us3">West US</div>
                      </div>
                    </div>
                  </div>
                  <div class="frame-wrapper3">
                    <div class="lorem-ipsum-is-simply-dummy-te-parent1">
                      <div class="lorem-ipsum-is-container3">
                        <p class="lorem-ipsum-is3">
                          Lorem Ipsum is simply dummy text of
                        </p>
                        <p class="the-printing-and3">
                          the printing and typesetting industry.
                        </p>
                        <p class="lorem-ipsum-has3">
                          Lorem Ipsum has been the industry's
                        </p>
                        <p class="standard-dummy-text3">
                          standard dummy text ever since the
                        </p>
                        <p class="p3">1500...</p>
                      </div>
                      <div class="frame-parent1">
                        <button class="full-time-wrapper">
                          <div class="full-time5">Full-Time</div>
                        </button>
                        <div class="a-few-seconds3">a few seconds ago</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="rectangle-parent10">
                  <div class="frame-child11"></div>
                  <div class="flat-color-iconsgoogle-group">
                    <img
                      class="flat-color-iconsgoogle1"
                      loading="lazy"
                      alt=""
                      src="~/public/flatcoloriconsgoogle.svg"
                    />

                    <div class="frame-wrapper4">
                      <div class="software-engineer-parent2">
                        <div class="software-engineer5">Software Engineer</div>
                        <div class="tdesignlocation-parent2">
                          <img
                            class="tdesignlocation-icon5"
                            loading="lazy"
                            alt=""
                            src="~/public/tdesignlocation-1.svg"
                          />

                          <div class="west-us4">West US</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="frame-wrapper5">
                    <div class="lorem-ipsum-is-simply-dummy-te-parent2">
                      <div class="lorem-ipsum-is-container4">
                        <p class="lorem-ipsum-is4">
                          Lorem Ipsum is simply dummy text of
                        </p>
                        <p class="the-printing-and4">
                          the printing and typesetting industry.
                        </p>
                        <p class="lorem-ipsum-has4">
                          Lorem Ipsum has been the industry's
                        </p>
                        <p class="standard-dummy-text4">
                          standard dummy text ever since the
                        </p>
                        <p class="p4">1500...</p>
                      </div>
                      <div class="frame-parent2">
                        <button class="full-time-container">
                          <div class="full-time6">Full-Time</div>
                        </button>
                        <div class="a-few-seconds4">a few seconds ago</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="rectangle-parent11">
                  <div class="frame-child12"></div>
                  <div class="deviconlinkedin-group">
                    <img
                      class="deviconlinkedin1"
                      loading="lazy"
                      alt=""
                      src="~/public/deviconlinkedin.svg"
                    />

                    <div class="software-engineer-parent3">
                      <div class="software-engineer6">Software Engineer</div>
                      <div class="tdesignlocation-parent3">
                        <img
                          class="tdesignlocation-icon6"
                          alt=""
                          src="~/public/tdesignlocation-1.svg"
                        />

                        <div class="west-us5">West US</div>
                      </div>
                    </div>
                  </div>
                  <div class="frame-wrapper6">
                    <div class="lorem-ipsum-is-simply-dummy-te-parent3">
                      <div class="lorem-ipsum-is-container5">
                        <p class="lorem-ipsum-is5">
                          Lorem Ipsum is simply dummy text of
                        </p>
                        <p class="the-printing-and5">
                          the printing and typesetting industry.
                        </p>
                        <p class="lorem-ipsum-has5">
                          Lorem Ipsum has been the industry's
                        </p>
                        <p class="standard-dummy-text5">
                          standard dummy text ever since the
                        </p>
                        <p class="p5">1500...</p>
                      </div>
                      <div class="frame-parent3">
                        <button class="full-time-frame">
                          <div class="full-time7">Full-Time</div>
                        </button>
                        <div class="a-few-seconds5">a few seconds ago</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text">
                <div class="frame-parent4">
                  <div class="rectangle-parent12">
                    <div class="frame-child13"></div>
                    <div class="skill-iconstwitter-container">
                      <img
                        class="skill-iconstwitter2"
                        loading="lazy"
                        alt=""
                        src="~/public/skilliconstwitter.svg"
                      />

                      <div class="software-engineer-parent4">
                        <div class="software-engineer7">Software Engineer</div>
                        <div class="tdesignlocation-parent4">
                          <img
                            class="tdesignlocation-icon7"
                            loading="lazy"
                            alt=""
                            src="~/public/tdesignlocation-1.svg"
                          />

                          <div class="west-us6">West US</div>
                        </div>
                      </div>
                    </div>
                    <div class="frame-wrapper7">
                      <div class="lorem-ipsum-is-simply-dummy-te-parent4">
                        <div class="lorem-ipsum-is-container6">
                          <p class="lorem-ipsum-is6">
                            Lorem Ipsum is simply dummy text of
                          </p>
                          <p class="the-printing-and6">
                            the printing and typesetting industry.
                          </p>
                          <p class="lorem-ipsum-has6">
                            Lorem Ipsum has been the industry's
                          </p>
                          <p class="standard-dummy-text6">
                            standard dummy text ever since the
                          </p>
                          <p class="p6">1500...</p>
                        </div>
                        <div class="frame-d-parent">
                          <button class="frame-d">
                            <div class="full-time8">Full-Time</div>
                          </button>
                          <div class="a-few-seconds6">a few seconds ago</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="rectangle-parent13">
                    <div class="frame-child14"></div>
                    <div class="flat-color-iconsgoogle-container">
                      <img
                        class="flat-color-iconsgoogle2"
                        loading="lazy"
                        alt=""
                        src="~/public/flatcoloriconsgoogle.svg"
                      />

                      <div class="frame-wrapper8">
                        <div class="software-engineer-parent5">
                          <div class="software-engineer8">
                            Software Engineer
                          </div>
                          <div class="tdesignlocation-parent5">
                            <img
                              class="tdesignlocation-icon8"
                              alt=""
                              src="~/public/tdesignlocation-1.svg"
                            />

                            <div class="west-us7">West US</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="frame-wrapper9">
                      <div class="lorem-ipsum-is-simply-dummy-te-parent5">
                        <div class="lorem-ipsum-is-container7">
                          <p class="lorem-ipsum-is7">
                            Lorem Ipsum is simply dummy text of
                          </p>
                          <p class="the-printing-and7">
                            the printing and typesetting industry.
                          </p>
                          <p class="lorem-ipsum-has7">
                            Lorem Ipsum has been the industry's
                          </p>
                          <p class="standard-dummy-text7">
                            standard dummy text ever since the
                          </p>
                          <p class="p7">1500...</p>
                        </div>
                        <div class="frame-parent5">
                          <button class="frame-button">
                            <div class="full-time9">Full-Time</div>
                          </button>
                          <div class="a-few-seconds7">a few seconds ago</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="rectangle-parent14">
                    <div class="frame-child15"></div>
                    <div class="deviconlinkedin-container">
                      <img
                        class="deviconlinkedin2"
                        loading="lazy"
                        alt=""
                        src="~/public/deviconlinkedin.svg"
                      />

                      <div class="software-engineer-parent6">
                        <div class="software-engineer9">Software Engineer</div>
                        <div class="tdesignlocation-parent6">
                          <img
                            class="tdesignlocation-icon9"
                            alt=""
                            src="~/public/tdesignlocation-1.svg"
                          />

                          <div class="west-us8">West US</div>
                        </div>
                      </div>
                    </div>
                    <div class="frame-wrapper10">
                      <div class="lorem-ipsum-is-simply-dummy-te-parent6">
                        <div class="lorem-ipsum-is-container8">
                          <p class="lorem-ipsum-is8">
                            Lorem Ipsum is simply dummy text of
                          </p>
                          <p class="the-printing-and8">
                            the printing and typesetting industry.
                          </p>
                          <p class="lorem-ipsum-has8">
                            Lorem Ipsum has been the industry's
                          </p>
                          <p class="standard-dummy-text8">
                            standard dummy text ever since the
                          </p>
                          <p class="p8">1500...</p>
                        </div>
                        <div class="frame-parent6">
                          <button class="full-time-wrapper1">
                            <div class="full-time10">Full-Time</div>
                          </button>
                          <div class="a-few-seconds8">a few seconds ago</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="list1">
                <div class="rectangle-parent15">
                  <div class="frame-child16"></div>
                  <div class="skill-iconstwitter-parent1">
                    <img
                      class="skill-iconstwitter3"
                      loading="lazy"
                      alt=""
                      src="~/public/skilliconstwitter.svg"
                    />

                    <div class="software-engineer-parent7">
                      <div class="software-engineer10">Software Engineer</div>
                      <div class="tdesignlocation-parent7">
                        <img
                          class="tdesignlocation-icon10"
                          loading="lazy"
                          alt=""
                          src="~/public/tdesignlocation-1.svg"
                        />

                        <div class="west-us9">West US</div>
                      </div>
                    </div>
                  </div>
                  <div class="frame-wrapper11">
                    <div class="lorem-ipsum-is-simply-dummy-te-parent7">
                      <div class="lorem-ipsum-is-container9">
                        <p class="lorem-ipsum-is9">
                          Lorem Ipsum is simply dummy text of
                        </p>
                        <p class="the-printing-and9">
                          the printing and typesetting industry.
                        </p>
                        <p class="lorem-ipsum-has9">
                          Lorem Ipsum has been the industry's
                        </p>
                        <p class="standard-dummy-text9">
                          standard dummy text ever since the
                        </p>
                        <p class="p9">1500...</p>
                      </div>
                      <div class="frame-parent7">
                        <button class="full-time-wrapper2">
                          <div class="full-time11">Full-Time</div>
                        </button>
                        <div class="a-few-seconds9">a few seconds ago</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="rectangle-parent16">
                  <div class="frame-child17"></div>
                  <div class="flat-color-iconsgoogle-parent1">
                    <img
                      class="flat-color-iconsgoogle3"
                      loading="lazy"
                      alt=""
                      src="~/public/flatcoloriconsgoogle.svg"
                    />

                    <div class="frame-wrapper12">
                      <div class="software-engineer-parent8">
                        <div class="software-engineer11">Software Engineer</div>
                        <div class="tdesignlocation-parent8">
                          <img
                            class="tdesignlocation-icon11"
                            loading="lazy"
                            alt=""
                            src="~/public/tdesignlocation-1.svg"
                          />

                          <div class="west-us10">West US</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="frame-wrapper13">
                    <div class="lorem-ipsum-is-simply-dummy-te-parent8">
                      <div class="lorem-ipsum-is-container10">
                        <p class="lorem-ipsum-is10">
                          Lorem Ipsum is simply dummy text of
                        </p>
                        <p class="the-printing-and10">
                          the printing and typesetting industry.
                        </p>
                        <p class="lorem-ipsum-has10">
                          Lorem Ipsum has been the industry's
                        </p>
                        <p class="standard-dummy-text10">
                          standard dummy text ever since the
                        </p>
                        <p class="p10">1500...</p>
                      </div>
                      <div class="frame-parent8">
                        <button class="full-time-wrapper3">
                          <div class="full-time12">Full-Time</div>
                        </button>
                        <div class="a-few-seconds10">a few seconds ago</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="rectangle-parent17">
                  <div class="frame-child18"></div>
                  <div class="deviconlinkedin-parent1">
                    <img
                      class="deviconlinkedin3"
                      loading="lazy"
                      alt=""
                      src="~/public/deviconlinkedin.svg"
                    />

                    <div class="software-engineer-parent9">
                      <div class="software-engineer12">Software Engineer</div>
                      <div class="tdesignlocation-parent9">
                        <img
                          class="tdesignlocation-icon12"
                          alt=""
                          src="~/public/tdesignlocation-1.svg"
                        />

                        <div class="west-us11">West US</div>
                      </div>
                    </div>
                  </div>
                  <div class="frame-wrapper14">
                    <div class="lorem-ipsum-is-simply-dummy-te-parent9">
                      <div class="lorem-ipsum-is-container11">
                        <p class="lorem-ipsum-is11">
                          Lorem Ipsum is simply dummy text of
                        </p>
                        <p class="the-printing-and11">
                          the printing and typesetting industry.
                        </p>
                        <p class="lorem-ipsum-has11">
                          Lorem Ipsum has been the industry's
                        </p>
                        <p class="standard-dummy-text11">
                          standard dummy text ever since the
                        </p>
                        <p class="p11">1500...</p>
                      </div>
                      <div class="frame-parent9">
                        <button class="full-time-wrapper4">
                          <div class="full-time13">Full-Time</div>
                        </button>
                        <div class="a-few-seconds11">a few seconds ago</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="rectangle-parent18">
                  <div class="frame-child19"></div>
                  <div class="skill-iconstwitter-parent2">
                    <img
                      class="skill-iconstwitter4"
                      loading="lazy"
                      alt=""
                      src="~/public/skilliconstwitter.svg"
                    />

                    <div class="software-engineer-parent10">
                      <div class="software-engineer13">Software Engineer</div>
                      <div class="tdesignlocation-parent10">
                        <img
                          class="tdesignlocation-icon13"
                          loading="lazy"
                          alt=""
                          src="~/public/tdesignlocation-1.svg"
                        />

                        <div class="west-us12">West US</div>
                      </div>
                    </div>
                  </div>
                  <div class="frame-wrapper15">
                    <div class="lorem-ipsum-is-simply-dummy-te-parent10">
                      <div class="lorem-ipsum-is-container12">
                        <p class="lorem-ipsum-is12">
                          Lorem Ipsum is simply dummy text of
                        </p>
                        <p class="the-printing-and12">
                          the printing and typesetting industry.
                        </p>
                        <p class="lorem-ipsum-has12">
                          Lorem Ipsum has been the industry's
                        </p>
                        <p class="standard-dummy-text12">
                          standard dummy text ever since the
                        </p>
                        <p class="p12">1500...</p>
                      </div>
                      <div class="frame-parent10">
                        <button class="full-time-wrapper5">
                          <div class="full-time14">Full-Time</div>
                        </button>
                        <div class="a-few-seconds12">a few seconds ago</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="rectangle-parent19">
                  <div class="frame-child20"></div>
                  <div class="flat-color-iconsgoogle-parent2">
                    <img
                      class="flat-color-iconsgoogle4"
                      loading="lazy"
                      alt=""
                      src="~/public/flatcoloriconsgoogle.svg"
                    />

                    <div class="frame-wrapper16">
                      <div class="software-engineer-parent11">
                        <div class="software-engineer14">Software Engineer</div>
                        <div class="tdesignlocation-parent11">
                          <img
                            class="tdesignlocation-icon14"
                            loading="lazy"
                            alt=""
                            src="~/public/tdesignlocation-1.svg"
                          />

                          <div class="west-us13">West US</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="frame-wrapper17">
                    <div class="lorem-ipsum-is-simply-dummy-te-parent11">
                      <div class="lorem-ipsum-is-container13">
                        <p class="lorem-ipsum-is13">
                          Lorem Ipsum is simply dummy text of
                        </p>
                        <p class="the-printing-and13">
                          the printing and typesetting industry.
                        </p>
                        <p class="lorem-ipsum-has13">
                          Lorem Ipsum has been the industry's
                        </p>
                        <p class="standard-dummy-text13">
                          standard dummy text ever since the
                        </p>
                        <p class="p13">1500...</p>
                      </div>
                      <div class="frame-parent11">
                        <button class="full-time-wrapper6">
                          <div class="full-time15">Full-Time</div>
                        </button>
                        <div class="a-few-seconds13">a few seconds ago</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="rectangle-parent20">
                  <div class="frame-child21"></div>
                  <div class="deviconlinkedin-parent2">
                    <img
                      class="deviconlinkedin4"
                      loading="lazy"
                      alt=""
                      src="~/public/deviconlinkedin.svg"
                    />

                    <div class="software-engineer-parent12">
                      <div class="software-engineer15">Software Engineer</div>
                      <div class="tdesignlocation-parent12">
                        <img
                          class="tdesignlocation-icon15"
                          alt=""
                          src="~/public/tdesignlocation-1.svg"
                        />

                        <div class="west-us14">West US</div>
                      </div>
                    </div>
                  </div>
                  <div class="frame-wrapper18">
                    <div class="lorem-ipsum-is-simply-dummy-te-parent12">
                      <div class="lorem-ipsum-is-container14">
                        <p class="lorem-ipsum-is14">
                          Lorem Ipsum is simply dummy text of
                        </p>
                        <p class="the-printing-and14">
                          the printing and typesetting industry.
                        </p>
                        <p class="lorem-ipsum-has14">
                          Lorem Ipsum has been the industry's
                        </p>
                        <p class="standard-dummy-text14">
                          standard dummy text ever since the
                        </p>
                        <p class="p14">1500...</p>
                      </div>
                      <div class="frame-parent12">
                        <button class="full-time-wrapper7">
                          <div class="full-time16">Full-Time</div>
                        </button>
                        <div class="a-few-seconds14">a few seconds ago</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
   
    </div>
  </body>
</html>
