<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="~/css/global.css" />
    <link rel="stylesheet" href="~/css/job-details-2.css" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600;700;800;900&display=swap" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" />
</head>
<body>
    <div class="job-details-2">
        @* <header class="f-r-a-m-e-f-r-a-m-e-parent">
            <div class="f-r-a-m-e-f-r-a-m-e">
                <div class="f-r-a-m-e-f-r-a-m-e1">
                    <b class="job7">Job</b>
                    <b class="finder7">Finder</b>
                </div>
            </div>
            <div class="f-r-a-m-e-f-r-a-m-e2">
                <div class="find-job7">Find Job</div>
                <div class="companies8">Companies</div>
                <div class="upload-job8">Upload Job</div>
                <div class="about8">About</div>
            </div>
            <button class="rectangle-parent90">
                <div class="frame-child94"></div>
                <b class="sign-in6">Sign In</b>
            </button>
        </header> *@
        <section class="g-r-o-u-p-f-r-a-m-e-wrapper">
            <div class="g-r-o-u-p-f-r-a-m-e">
                <div class="rectangle-parent91">
                    <div class="frame-child95"></div>
                    <div class="g-r-o-u-p-f-r-a-m-e1">
                        <div class="f-r-a-m-e-f-r-a-m-e3">
                            <div class="frame-parent42">
                                <div class="t-e-x-t-t-e-x-t-parent">
                                    <img class="t-e-x-t-t-e-x-t"
                                         loading="lazy"
                                         alt=""
                                         src="~/public/rectangle-29@2x.png" />

                                    <div class="f-r-a-m-e-f-r-a-m-e4">
                                        <b class="software-engineer54">Software Engineer</b>
                                        <div class="west-us47">West US</div>
                                        <div class="supportmicrosoftcom10">
                                            support@microsoft.com
                                        </div>
                                        <div class="a-few-seconds47">a few seconds ago</div>
                                    </div>
                                </div>
                                <img class="frame-child96"
                                     loading="lazy"
                                     alt=""
                                     src="~/public/group-47.svg" />
                            </div>
                            <div class="frame-parent43">
                                <div class="rectangle-parent92">
                                    <div class="frame-child97"></div>
                                    <div class="frame-full-time">
                                        <div class="salary1">Salary</div>
                                    </div>
                                    <b class="group-job-description">$ 1200</b>
                                </div>
                                <div class="rectangle-parent93">
                                    <div class="frame-child98"></div>
                                    <div class="job-type-container">
                                        <div class="job-type4">Job Type</div>
                                    </div>
                                    <b class="full-time52">Full-Time</b>
                                </div>
                                <div class="about-company">
                                    <div class="rectangle-parent94">
                                        <div class="frame-child99"></div>
                                        <div class="no-of-applicants2">No. of Applicants</div>
                                        <b class="k1">4K</b>
                                    </div>
                                </div>
                                <div class="rectangle-parent95">
                                    <div class="frame-child100"></div>
                                    <div class="no-of-vacancies3">No. of Vacancies</div>
                                    <div class="frame-microsoft-corp-wrapper">
                                        <b class="frame-microsoft-corp">25</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="frame-parent44">
                            <button class="rectangle-parent96">
                                <div class="frame-child101"></div>
                                <b class="job-description3">Job Description</b>
                            </button>
                            <button class="rectangle-parent97">
                                <div class="frame-child102"></div>
                                <b class="company9">Company</b>
                            </button>
                        </div>
                    </div>
                    <div class="apply-now-button">
                        <div class="rectangle-frame-for-software-e">
                            <div class="microsoft-corporation">Microsoft Corporation</div>
                            <div class="califonia-supportmicrosoftco">
                                <p class="califonia10">Califonia</p>
                                <p class="supportmicrosoftcom11">support@microsoft.com</p>
                            </div>
                        </div>
                        <div class="about-company1">About Company</div>
                        <div class="lorem-ipsum-is48">
                            Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy
                            text ever since the 1500s, when an unknown printer took a galley
                            of type and scrambled it to make a type specimen book. It has
                            survived not only five centuries, but also the leap into
                            electronic typesetting, remaining essentially unchanged. It was
                            popularised in the 1960s with the release of Letraset sheets
                            containing Lorem Ipsum passages, and more recently with desktop
                            publishing software like Aldus PageMaker including versions of
                            Lorem Ipsum.
                        </div>
                    </div>
                    <button class="rectangle-parent98">
                        <div class="frame-child103"></div>
                        <b class="apply-now1">Apply Now</b>
                    </button>
                </div>
                <div class="similar-jobs-text-wrapper">
                    <div class="similar-jobs-text1">
                        <b class="similar-job-post1">Similar Job Post</b>
                        <div class="full-time-label">
                            <div class="rectangle-parent99">
                                <div class="frame-child104"></div>
                                <div class="software-engineer-labels-parent">
                                    <img class="software-engineer-labels"
                                         loading="lazy"
                                         alt=""
                                         src="~/public/rectangle-13@2x.png" />

                                    <div class="software-engineer-parent32">
                                        <div class="software-engineer55">Software Engineer</div>
                                        <div class="tdesignlocation-parent33">
                                            <img class="tdesignlocation-icon49"
                                                 loading="lazy"
                                                 alt=""
                                                 src="~/public/tdesignlocation1.svg" />

                                            <div class="west-us48">West US</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="lorem-ipsum-is-simply-dummy-te-parent37">
                                    <div class="lorem-ipsum-is-container46">
                                        <p class="lorem-ipsum-is49">
                                            Lorem Ipsum is simply dummy text of
                                        </p>
                                        <p class="the-printing-and46">
                                            the printing and typesetting industry.
                                        </p>
                                        <p class="lorem-ipsum-has46">
                                            Lorem Ipsum has been the industry's
                                        </p>
                                        <p class="standard-dummy-text46">
                                            standard dummy text ever since the
                                        </p>
                                        <p class="p55">1500...</p>
                                    </div>
                                    <div class="a-few-seconds-ago-label-parent">
                                        <button class="a-few-seconds-ago-label">
                                            <div class="full-time53">Full-Time</div>
                                        </button>
                                        <div class="a-few-seconds-ago-wrapper9">
                                            <div class="a-few-seconds48">a few seconds ago</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="rectangle-parent100">
                                <div class="frame-child105"></div>
                                <div class="rectangle-parent101">
                                    <img class="frame-child106"
                                         loading="lazy"
                                         alt=""
                                         src="~/public/rectangle-13@2x.png" />

                                    <div class="software-engineer-parent33">
                                        <div class="software-engineer56">Software Engineer</div>
                                        <div class="tdesignlocation-parent34">
                                            <img class="tdesignlocation-icon50"
                                                 loading="lazy"
                                                 alt=""
                                                 src="~/public/tdesignlocation1.svg" />

                                            <div class="west-us49">West US</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="lorem-ipsum-is-simply-dummy-te-parent38">
                                    <div class="lorem-ipsum-is-container47">
                                        <p class="lorem-ipsum-is50">
                                            Lorem Ipsum is simply dummy text of
                                        </p>
                                        <p class="the-printing-and47">
                                            the printing and typesetting industry.
                                        </p>
                                        <p class="lorem-ipsum-has47">
                                            Lorem Ipsum has been the industry's
                                        </p>
                                        <p class="standard-dummy-text47">
                                            standard dummy text ever since the
                                        </p>
                                        <p class="p56">1500...</p>
                                    </div>
                                    <div class="frame-parent45">
                                        <button class="full-time-wrapper32">
                                            <div class="full-time54">Full-Time</div>
                                        </button>
                                        <div class="a-few-seconds-ago-wrapper10">
                                            <div class="a-few-seconds49">a few seconds ago</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="rectangle-parent102">
                                <div class="frame-child107"></div>
                                <div class="rectangle-parent103">
                                    <img class="frame-child108"
                                         loading="lazy"
                                         alt=""
                                         src="~/public/rectangle-13@2x.png" />

                                    <div class="software-engineer-parent34">
                                        <div class="software-engineer57">Software Engineer</div>
                                        <div class="tdesignlocation-parent35">
                                            <img class="tdesignlocation-icon51"
                                                 loading="lazy"
                                                 alt=""
                                                 src="~/public/tdesignlocation1.svg" />

                                            <div class="west-us50">West US</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="lorem-ipsum-is-simply-dummy-te-parent39">
                                    <div class="lorem-ipsum-is-container48">
                                        <p class="lorem-ipsum-is51">
                                            Lorem Ipsum is simply dummy text of
                                        </p>
                                        <p class="the-printing-and48">
                                            the printing and typesetting industry.
                                        </p>
                                        <p class="lorem-ipsum-has48">
                                            Lorem Ipsum has been the industry's
                                        </p>
                                        <p class="standard-dummy-text48">
                                            standard dummy text ever since the
                                        </p>
                                        <p class="p57">1500...</p>
                                    </div>
                                    <div class="frame-parent46">
                                        <button class="full-time-wrapper33">
                                            <div class="full-time55">Full-Time</div>
                                        </button>
                                        <div class="a-few-seconds-ago-wrapper11">
                                            <div class="a-few-seconds50">a few seconds ago</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="rectangle-parent104">
                                <div class="frame-child109"></div>
                                <div class="rectangle-parent105">
                                    <img class="frame-child110"
                                         loading="lazy"
                                         alt=""
                                         src="~/public/rectangle-13@2x.png" />

                                    <div class="software-engineer-parent35">
                                        <div class="software-engineer58">Software Engineer</div>
                                        <div class="tdesignlocation-parent36">
                                            <img class="tdesignlocation-icon52"
                                                 loading="lazy"
                                                 alt=""
                                                 src="~/public/tdesignlocation1.svg" />

                                            <div class="west-us51">West US</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="lorem-ipsum-is-simply-dummy-te-parent40">
                                    <div class="lorem-ipsum-is-container49">
                                        <p class="lorem-ipsum-is52">
                                            Lorem Ipsum is simply dummy text of
                                        </p>
                                        <p class="the-printing-and49">
                                            the printing and typesetting industry.
                                        </p>
                                        <p class="lorem-ipsum-has49">
                                            Lorem Ipsum has been the industry's
                                        </p>
                                        <p class="standard-dummy-text49">
                                            standard dummy text ever since the
                                        </p>
                                        <p class="p58">1500...</p>
                                    </div>
                                    <div class="frame-parent47">
                                        <button class="full-time-wrapper34">
                                            <div class="full-time56">Full-Time</div>
                                        </button>
                                        <div class="a-few-seconds-ago-wrapper12">
                                            <div class="a-few-seconds51">a few seconds ago</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="rectangle-parent106">
                                <div class="frame-child111"></div>
                                <div class="rectangle-parent107">
                                    <img class="frame-child112"
                                         loading="lazy"
                                         alt=""
                                         src="~/public/rectangle-13@2x.png" />

                                    <div class="software-engineer-parent36">
                                        <div class="software-engineer59">Software Engineer</div>
                                        <div class="tdesignlocation-parent37">
                                            <img class="tdesignlocation-icon53"
                                                 loading="lazy"
                                                 alt=""
                                                 src="~/public/tdesignlocation1.svg" />

                                            <div class="west-us52">West US</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="lorem-ipsum-is-simply-dummy-te-parent41">
                                    <div class="lorem-ipsum-is-container50">
                                        <p class="lorem-ipsum-is53">
                                            Lorem Ipsum is simply dummy text of
                                        </p>
                                        <p class="the-printing-and50">
                                            the printing and typesetting industry.
                                        </p>
                                        <p class="lorem-ipsum-has50">
                                            Lorem Ipsum has been the industry's
                                        </p>
                                        <p class="standard-dummy-text50">
                                            standard dummy text ever since the
                                        </p>
                                        <p class="p59">1500...</p>
                                    </div>
                                    <div class="frame-parent48">
                                        <button class="full-time-wrapper35">
                                            <div class="full-time57">Full-Time</div>
                                        </button>
                                        <div class="a-few-seconds-ago-wrapper13">
                                            <div class="a-few-seconds52">a few seconds ago</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        @* <footer class="vector-container">
            <img class="frame-child113" alt="" src="./public/rectangle-14.svg" />

            <div class="frame-wrapper41">
                <div class="parent-node-parent">
                    <div class="parent-node">
                        <b class="company10">Company</b>
                        <div class="home7">Home</div>
                        <div class="about-us8">About Us</div>
                        <div class="services7">Services</div>
                        <div class="our-team7">Our Team</div>
                    </div>
                    <div class="policy-parent3">
                        <b class="policy8">Policy</b>
                        <div class="policies7">Policies</div>
                        <div class="contact7">Contact</div>
                        <div class="faq7">FAQ</div>
                    </div>
                    <div class="parent-node1">
                        <b class="support7">Support</b>
                        <div class="account7">Account</div>
                        <div class="support-center7">Support Center</div>
                        <div class="feedback7">Feedback</div>
                        <div class="accessibility7">Accessibility</div>
                    </div>
                </div>
            </div>
            <div class="subscribe-form2">
                <div class="logo">
                    <div class="subscribe-to-our7">Subscribe to our Newsletter</div>
                    <div class="frame-parent49">
                        <div class="frame-wrapper42">
                            <div class="call-to-action-button-parent">
                                <div class="call-to-action-button">
                                    <div class="call-to-action-button-child"></div>
                                    <div class="email-address9">Email Address</div>
                                </div>
                                <button class="rectangle-parent108">
                                    <div class="frame-child114"></div>
                                    <div class="subscribe10">Subscribe</div>
                                </button>
                            </div>
                        </div>
                        <div class="iconoirfacebook-group">
                            <img class="iconoirfacebook7"
                                 loading="lazy"
                                 alt=""
                                 src="./public/iconoirfacebook.svg" />

                            <img class="simple-iconsx7"
                                 loading="lazy"
                                 alt=""
                                 src="./public/simpleiconsx.svg" />

                            <img class="mdiinstagram-icon7"
                                 loading="lazy"
                                 alt=""
                                 src="./public/mdiinstagram.svg" />

                            <img class="rilinkedin-fill-icon7"
                                 loading="lazy"
                                 alt=""
                                 src="./public/rilinkedinfill.svg" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="instagramicon">
                <div class="instagramicon-child"></div>
                <div class="job-finder8">© 2024 Job Finder</div>
            </div>
        </footer> *@
    </div>
</body>
</html>
