<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="~/css/global.css" />
    <link rel="stylesheet" href="~/css/job-details.css" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600;700;800;900&display=swap" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" />
</head>
<body>
    <div class="job-details">
        <section class="frame-header">
            @* <header class="job-finder5">
                <div class="find-jobs">
                    <div class="company-logo2">
                        <b class="job5">Job</b>
                        <b class="finder5">Finder</b>
                    </div>
                </div>
                <div class="frame-group1">
                    <div class="find-job5">Find Job</div>
                    <div class="companies6">Companies</div>
                    <div class="upload-job6">Upload Job</div>
                    <div class="about6">About</div>
                </div>
                <button class="rectangle-parent69">
                    <div class="frame-child73"></div>
                    <b class="sign-in4">Sign In</b>
                </button>
            </header> *@
            <div class="no-of-vacancies1">
                <div class="salary-job-type">
                    <div class="rectangle-parent70">
                        <div class="frame-child74"></div>
                        <div class="rectangle-shape1">
                            <div class="support-link">
                                <div class="contact-us-link">
                                    <div class="f-a-q-link">
                                        <img class="subscribe-area-icon"
                                             loading="lazy"
                                             alt=""
                                             src="~/public/rectangle-29@2x.png" />

                                        <div class="job-description-frame">
                                            <b class="software-engineer36">Software Engineer</b>
                                            <div class="west-us34">West US</div>
                                            <div class="supportmicrosoftcom9">
                                                support@microsoft.com
                                            </div>
                                            <div class="a-few-seconds34">a few seconds ago</div>
                                        </div>
                                    </div>
                                    <img class="contact-us-link-child"
                                         loading="lazy"
                                         alt=""
                                         src="~/public/group-47.svg" />
                                </div>
                                <div class="frame-parent36">
                                    <div class="rectangle-parent71">
                                        <div class="frame-child75"></div>
                                        <div class="salary-job-type-group">
                                            <div class="salary">Salary</div>
                                        </div>
                                        <b class="salary-job-type1">$ 1200</b>
                                    </div>
                                    <div class="rectangle-parent72">
                                        <div class="frame-child76"></div>
                                        <div class="job-type-wrapper">
                                            <div class="job-type3">Job Type</div>
                                        </div>
                                        <b class="full-time39">Full-Time</b>
                                    </div>
                                    <div class="job-description-company-group">
                                        <div class="rectangle-parent73">
                                            <div class="frame-child77"></div>
                                            <div class="no-of-applicants">No. of Applicants</div>
                                            <b class="k">4K</b>
                                        </div>
                                    </div>
                                    <div class="rectangle-parent74">
                                        <div class="frame-child78"></div>
                                        <div class="no-of-vacancies2">No. of Vacancies</div>
                                        <div class="no-of-applicants-text-wrapper">
                                            <b class="no-of-applicants1">25</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="frame-parent37">
                                <button class="rectangle-parent75">
                                    <div class="frame-child79"></div>
                                    <b class="job-description1">Job Description</b>
                                </button>
                                <button class="rectangle-parent76">
                                    <div class="frame-child80"></div>
                                    <b class="company6">Company</b>
                                </button>
                            </div>
                        </div>
                        <div class="job-requirement">
                            <div class="job-decsription">Job Decsription</div>
                            <div class="lorem-ipsum-is34">
                                Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's
                                standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type
                                specimen book. It has survived not only five centuries, but
                                also the leap into electronic typesetting, remaining
                                essentially unchanged. It was popularised in the 1960s with
                                the release of Letraset sheets containing Lorem Ipsum
                                passages, and more recently with desktop publishing software
                                like Aldus PageMaker including versions of Lorem Ipsum.
                            </div>
                        </div>
                        <div class="job-requirement1">
                            <div class="requirement">Requirement</div>
                            <div class="lorem-ipsum-is35">
                                Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's
                                standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type
                                specimen book. It has survived not only five centuries, but
                                also the leap into electronic typesetting, remaining
                                essentially unchanged. It was popularised in the 1960s with
                                the release of Letraset sheets containing Lorem Ipsum
                                passages, and more recently with desktop publishing software
                                like Aldus PageMaker including versions of Lorem Ipsum.
                            </div>
                        </div>
                        <button class="policies-contact-f-a-q-text">
                            <div class="policies-contact-f-a-q-text-child"></div>
                            <b class="apply-now">Apply Now</b>
                        </button>
                    </div>
                    <div class="social-media-icons">
                        <div class="job-ad">
                            <b class="similar-job-post">Similar Job Post</b>
                            <div class="similar-jobs-text">
                                <div class="rectangle-parent77">
                                    <div class="frame-child81"></div>
                                    <div class="facebook-icon-frame">
                                        <img class="tdsignlocation-frame-icon"
                                             loading="lazy"
                                             alt=""
                                             src="~/public/rectangle-13@2x.png" />

                                        <div class="job-info">
                                            <div class="software-engineer37">Software Engineer</div>
                                            <div class="software-engineer38">
                                                <img class="tdesignlocation-icon37"
                                                     loading="lazy"
                                                     alt=""
                                                     src="~/public/tdesignlocation1.svg" />

                                                <div class="west-us35">West US</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="lorem-ipsum-is-simply-dummy-te-parent32">
                                        <div class="lorem-ipsum-is-container34">
                                            <p class="lorem-ipsum-is36">
                                                Lorem Ipsum is simply dummy text of
                                            </p>
                                            <p class="the-printing-and34">
                                                the printing and typesetting industry.
                                            </p>
                                            <p class="lorem-ipsum-has34">
                                                Lorem Ipsum has been the industry's
                                            </p>
                                            <p class="standard-dummy-text34">
                                                standard dummy text ever since the
                                            </p>
                                            <p class="p43">1500...</p>
                                        </div>
                                        <div class="job-ago">
                                            <button class="feedback-frame">
                                                <div class="full-time40">Full-Time</div>
                                            </button>
                                            <div class="policy-contact-f-a-q">
                                                <div class="a-few-seconds35">a few seconds ago</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rectangle-parent78">
                                    <div class="frame-child82"></div>
                                    <div class="facebook-icon-frame1">
                                        <img class="facebook-icon-frame-child"
                                             loading="lazy"
                                             alt=""
                                             src="~/public/rectangle-13@2x.png" />

                                        <div class="job-info1">
                                            <div class="software-engineer39">Software Engineer</div>
                                            <div class="software-engineer40">
                                                <img class="tdesignlocation-icon38"
                                                     loading="lazy"
                                                     alt=""
                                                     src="~/public/tdesignlocation1.svg" />

                                                <div class="west-us36">West US</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="lorem-ipsum-is-simply-dummy-te-parent33">
                                        <div class="lorem-ipsum-is-container35">
                                            <p class="lorem-ipsum-is37">
                                                Lorem Ipsum is simply dummy text of
                                            </p>
                                            <p class="the-printing-and35">
                                                the printing and typesetting industry.
                                            </p>
                                            <p class="lorem-ipsum-has35">
                                                Lorem Ipsum has been the industry's
                                            </p>
                                            <p class="standard-dummy-text35">
                                                standard dummy text ever since the
                                            </p>
                                            <p class="p44">1500...</p>
                                        </div>
                                        <div class="job-ago1">
                                            <button class="full-time-wrapper23">
                                                <div class="full-time41">Full-Time</div>
                                            </button>
                                            <div class="policy-contact-f-a-q1">
                                                <div class="a-few-seconds36">a few seconds ago</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rectangle-parent79">
                                    <div class="frame-child83"></div>
                                    <div class="facebook-icon-frame2">
                                        <img class="facebook-icon-frame-item"
                                             loading="lazy"
                                             alt=""
                                             src="~/public/rectangle-13@2x.png" />

                                        <div class="job-info2">
                                            <div class="software-engineer41">Software Engineer</div>
                                            <div class="software-engineer42">
                                                <img class="tdesignlocation-icon39"
                                                     loading="lazy"
                                                     alt=""
                                                     src="~/public/tdesignlocation1.svg" />

                                                <div class="west-us37">West US</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="lorem-ipsum-is-simply-dummy-te-parent34">
                                        <div class="lorem-ipsum-is-container36">
                                            <p class="lorem-ipsum-is38">
                                                Lorem Ipsum is simply dummy text of
                                            </p>
                                            <p class="the-printing-and36">
                                                the printing and typesetting industry.
                                            </p>
                                            <p class="lorem-ipsum-has36">
                                                Lorem Ipsum has been the industry's
                                            </p>
                                            <p class="standard-dummy-text36">
                                                standard dummy text ever since the
                                            </p>
                                            <p class="p45">1500...</p>
                                        </div>
                                        <div class="job-ago2">
                                            <button class="full-time-wrapper24">
                                                <div class="full-time42">Full-Time</div>
                                            </button>
                                            <div class="policy-contact-f-a-q2">
                                                <div class="a-few-seconds37">a few seconds ago</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rectangle-parent80">
                                    <div class="frame-child84"></div>
                                    <div class="facebook-icon-frame3">
                                        <img class="facebook-icon-frame-inner"
                                             loading="lazy"
                                             alt=""
                                             src="~/public/rectangle-13@2x.png" />

                                        <div class="job-info3">
                                            <div class="software-engineer43">Software Engineer</div>
                                            <div class="software-engineer44">
                                                <img class="tdesignlocation-icon40"
                                                     loading="lazy"
                                                     alt=""
                                                     src="~/public/tdesignlocation1.svg" />

                                                <div class="west-us38">West US</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="lorem-ipsum-is-simply-dummy-te-parent35">
                                        <div class="lorem-ipsum-is-container37">
                                            <p class="lorem-ipsum-is39">
                                                Lorem Ipsum is simply dummy text of
                                            </p>
                                            <p class="the-printing-and37">
                                                the printing and typesetting industry.
                                            </p>
                                            <p class="lorem-ipsum-has37">
                                                Lorem Ipsum has been the industry's
                                            </p>
                                            <p class="standard-dummy-text37">
                                                standard dummy text ever since the
                                            </p>
                                            <p class="p46">1500...</p>
                                        </div>
                                        <div class="job-ago3">
                                            <button class="full-time-wrapper25">
                                                <div class="full-time43">Full-Time</div>
                                            </button>
                                            <div class="policy-contact-f-a-q3">
                                                <div class="a-few-seconds38">a few seconds ago</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rectangle-parent81">
                    <div class="frame-child85"></div>
                    <div class="facebook-icon-frame4">
                        <img class="linked-in-instagram-icon-frame"
                             loading="lazy"
                             alt=""
                             src="~/public/rectangle-13@2x.png" />

                        <div class="job-info4">
                            <div class="software-engineer45">Software Engineer</div>
                            <div class="software-engineer46">
                                <img class="tdesignlocation-icon41"
                                     loading="lazy"
                                     alt=""
                                     src="~/public/tdesignlocation1.svg" />

                                <div class="west-us39">West US</div>
                            </div>
                        </div>
                    </div>
                    <div class="lorem-ipsum-is-simply-dummy-te-parent36">
                        <div class="lorem-ipsum-is-container38">
                            <p class="lorem-ipsum-is40">
                                Lorem Ipsum is simply dummy text of
                            </p>
                            <p class="the-printing-and38">
                                the printing and typesetting industry.
                            </p>
                            <p class="lorem-ipsum-has38">
                                Lorem Ipsum has been the industry's
                            </p>
                            <p class="standard-dummy-text38">
                                standard dummy text ever since the
                            </p>
                            <p class="p47">1500...</p>
                        </div>
                        <div class="job-ago4">
                            <button class="company-info-group">
                                <div class="full-time44">Full-Time</div>
                            </button>
                            <div class="policy-contact-f-a-q4">
                                <div class="a-few-seconds39">a few seconds ago</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
       @*  <footer class="subscribe-newsletter-frame">
            <img class="subscribe-newsletter-frame-child"
                 alt=""
                 src="./public/rectangle-14.svg" />

            <div class="footer-frame">
                <div class="company-support-group">
                    <div class="home-account-frame">
                        <b class="company7">Company</b>
                        <div class="home5">Home</div>
                        <div class="about-us6">About Us</div>
                        <div class="services5">Services</div>
                        <div class="our-team5">Our Team</div>
                    </div>
                    <div class="company-support-frame4">
                        <b class="policy6">Policy</b>
                        <div class="policies5">Policies</div>
                        <div class="contact5">Contact</div>
                        <div class="faq5">FAQ</div>
                    </div>
                    <div class="home-account-frame1">
                        <b class="support5">Support</b>
                        <div class="account5">Account</div>
                        <div class="support-center5">Support Center</div>
                        <div class="feedback5">Feedback</div>
                        <div class="accessibility5">Accessibility</div>
                    </div>
                </div>
            </div>
            <div class="subscribe-newsletter-frame1">
                <div class="facebook-instagram-linkedin-fr">
                    <div class="subscribe-to-our5">Subscribe to our Newsletter</div>
                    <div class="subscribe-frame1">
                        <div class="iconoirfacebook-simpleiconsx-m">
                            <div class="support-frame">
                                <div class="email-address-frame">
                                    <div class="email-address-frame-child"></div>
                                    <div class="email-address7">Email Address</div>
                                </div>
                                <button class="subscribe-text-frame">
                                    <div class="subscribe-text-frame-child"></div>
                                    <div class="subscribe8">Subscribe</div>
                                </button>
                            </div>
                        </div>
                        <div class="company-logo-frame">
                            <img class="iconoirfacebook5"
                                 loading="lazy"
                                 alt=""
                                 src="./public/iconoirfacebook.svg" />

                            <img class="simple-iconsx5"
                                 loading="lazy"
                                 alt=""
                                 src="./public/simpleiconsx.svg" />

                            <img class="mdiinstagram-icon5"
                                 loading="lazy"
                                 alt=""
                                 src="./public/mdiinstagram.svg" />

                            <img class="rilinkedin-fill-icon5"
                                 loading="lazy"
                                 alt=""
                                 src="./public/rilinkedinfill.svg" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-frame1">
                <div class="copyright-frame-item"></div>
                <div class="job-finder6">© 2024 Job Finder</div>
            </div>
        </footer> *@
    </div>
</body>
</html>
