<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="~/css/global.css" />
    <link rel="stylesheet" href="~/css/job-porter.css" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600;700;800;900&display=swap" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" />
</head>
<body>
    <div class="job-porter">
        @* <header class="welcome-frame">
            <div class="company-logo3">
                <div class="job-finder-frame2">
                    <b class="job6">Job</b>
                    <b class="finder6">Finder</b>
                </div>
            </div>
            <div class="companies-upload-frame">
                <div class="find-job6">Find Job</div>
                <div class="companies7">Companies</div>
                <div class="upload-job7">Upload Job</div>
                <div class="about7">About</div>
            </div>
            <button class="rectangle-parent82">
                <div class="frame-child86"></div>
                <b class="sign-in5">Sign In</b>
            </button>
        </header> *@
        <section class="california-location">
            <div class="support-frame1">
                <b class="welcome-google-corporation">Welcome, Google Corporation</b>
                <div class="california-address">
                    <div class="job-post-frame">
                        <div class="software-engineer-group1">
                            <img class="mingcutelocation-fill-icon"
                                 loading="lazy"
                                 alt=""
                                 src="~/public/mingcutelocationfill.svg" />

                            <div class="califonia9">Califonia</div>
                        </div>
                        <div class="software-engineer-group2">
                            <img class="material-symbolsmail-outline-icon"
                                 loading="lazy"
                                 alt=""
                                 src="~/public/materialsymbolsmailoutline.svg" />

                            <div class="supportgooglecom">support@google.com</div>
                        </div>
                        <div class="software-engineer-group3">
                            <img class="phphone-call-icon"
                                 loading="lazy"
                                 alt=""
                                 src="~/public/phphonecall.svg" />

                            <div class="supportgoogle">support@google</div>
                        </div>
                        <div class="job-details1">
                            <div class="job-description2">2</div>
                            <div class="job-post1">Job Post</div>
                        </div>
                    </div>
                </div>
                <div class="avatar-frame">
                    <div class="position-image">
                        <div class="job-post-frame1">
                            <div class="jobs-posted18">Jobs Posted</div>
                            <div class="jobs-text">
                                <div class="frame-parent38">
                                    <div class="rectangle-parent83">
                                        <div class="frame-child87"></div>
                                        <div class="about-us-support-center-frame8">
                                            <img class="framemingcutelocationfill-icon"
                                                 loading="lazy"
                                                 alt=""
                                                 src="~/public/rectangle-13@2x.png" />

                                            <div class="our-team-accessibility-frame">
                                                <div class="software-engineer47">
                                                    Software Engineer
                                                </div>
                                                <div class="subscribe-frame2">
                                                    <img class="tdesignlocation-icon42"
                                                         loading="lazy"
                                                         alt=""
                                                         src="~/public/tdesignlocation1.svg" />

                                                    <div class="west-us40">West US</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="software-engineer-box">
                                            <div class="lorem-ipsum-is-container39">
                                                <p class="lorem-ipsum-is41">
                                                    Lorem Ipsum is simply dummy text of
                                                </p>
                                                <p class="the-printing-and39">
                                                    the printing and typesetting industry.
                                                </p>
                                                <p class="lorem-ipsum-has39">
                                                    Lorem Ipsum has been the industry's
                                                </p>
                                                <p class="standard-dummy-text39">
                                                    standard dummy text ever since the
                                                </p>
                                                <p class="p48">1500...</p>
                                            </div>
                                            <div class="job-post-frame2">
                                                <button class="full-time-wrapper26">
                                                    <div class="full-time45">Full-Time</div>
                                                </button>
                                                <div class="a-few-seconds-ago-wrapper2">
                                                    <div class="a-few-seconds40">a few seconds ago</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="rectangle-parent84">
                                        <div class="frame-child88"></div>
                                        <div class="about-us-support-center-frame9">
                                            <img class="about-us-support-center-frame-child"
                                                 loading="lazy"
                                                 alt=""
                                                 src="~/public/rectangle-13-1@2x.png" />

                                            <div class="our-team-accessibility-frame1">
                                                <div class="software-engineer48">
                                                    Software Engineer
                                                </div>
                                                <div class="subscribe-frame3">
                                                    <img class="tdesignlocation-icon43"
                                                         loading="lazy"
                                                         alt=""
                                                         src="~/public/tdesignlocation1.svg" />

                                                    <div class="west-us41">West US</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="software-engineer-box1">
                                            <div class="lorem-ipsum-is-container40">
                                                <p class="lorem-ipsum-is42">
                                                    Lorem Ipsum is simply dummy text of
                                                </p>
                                                <p class="the-printing-and40">
                                                    the printing and typesetting industry.
                                                </p>
                                                <p class="lorem-ipsum-has40">
                                                    Lorem Ipsum has been the industry's
                                                </p>
                                                <p class="standard-dummy-text40">
                                                    standard dummy text ever since the
                                                </p>
                                                <p class="p49">1500...</p>
                                            </div>
                                            <div class="frame-parent39">
                                                <button class="full-time-wrapper27">
                                                    <div class="full-time46">Full-Time</div>
                                                </button>
                                                <div class="a-few-seconds-ago-wrapper3">
                                                    <div class="a-few-seconds41">a few seconds ago</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="rectangle-parent85">
                                        <div class="frame-child89"></div>
                                        <div class="about-us-support-center-frame10">
                                            <img class="about-us-support-center-frame-item"
                                                 loading="lazy"
                                                 alt=""
                                                 src="~/public/rectangle-13-2@2x.png" />

                                            <div class="our-team-accessibility-frame2">
                                                <div class="software-engineer49">
                                                    Software Engineer
                                                </div>
                                                <div class="subscribe-frame4">
                                                    <img class="tdesignlocation-icon44"
                                                         loading="lazy"
                                                         alt=""
                                                         src="~/public/tdesignlocation1.svg" />

                                                    <div class="west-us42">West US</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="software-engineer-box2">
                                            <div class="lorem-ipsum-is-container41">
                                                <p class="lorem-ipsum-is43">
                                                    Lorem Ipsum is simply dummy text of
                                                </p>
                                                <p class="the-printing-and41">
                                                    the printing and typesetting industry.
                                                </p>
                                                <p class="lorem-ipsum-has41">
                                                    Lorem Ipsum has been the industry's
                                                </p>
                                                <p class="standard-dummy-text41">
                                                    standard dummy text ever since the
                                                </p>
                                                <p class="p50">1500...</p>
                                            </div>
                                            <div class="job-post-frame3">
                                                <button class="full-time-wrapper28">
                                                    <div class="full-time47">Full-Time</div>
                                                </button>
                                                <div class="a-few-seconds-ago-wrapper4">
                                                    <div class="a-few-seconds42">a few seconds ago</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="frame-parent40">
                            <div class="rectangle-parent86">
                                <div class="frame-child90"></div>
                                <div class="about-us-support-center-frame11">
                                    <img class="about-us-support-center-frame-inner"
                                         loading="lazy"
                                         alt=""
                                         src="~/public/rectangle-13@2x.png" />

                                    <div class="our-team-accessibility-frame3">
                                        <div class="software-engineer50">Software Engineer</div>
                                        <div class="subscribe-frame5">
                                            <img class="tdesignlocation-icon45"
                                                 loading="lazy"
                                                 alt=""
                                                 src="~/public/tdesignlocation1.svg" />

                                            <div class="west-us43">West US</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="software-engineer-box3">
                                    <div class="lorem-ipsum-is-container42">
                                        <p class="lorem-ipsum-is44">
                                            Lorem Ipsum is simply dummy text of
                                        </p>
                                        <p class="the-printing-and42">
                                            the printing and typesetting industry.
                                        </p>
                                        <p class="lorem-ipsum-has42">
                                            Lorem Ipsum has been the industry's
                                        </p>
                                        <p class="standard-dummy-text42">
                                            standard dummy text ever since the
                                        </p>
                                        <p class="p51">1500...</p>
                                    </div>
                                    <div class="job-post-frame4">
                                        <button class="services-feedback-frame">
                                            <div class="full-time48">Full-Time</div>
                                        </button>
                                        <div class="a-few-seconds-ago-wrapper5">
                                            <div class="a-few-seconds43">a few seconds ago</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="rectangle-parent87">
                                <div class="frame-child91"></div>
                                <div class="about-us-support-center-frame12">
                                    <img class="about-us-support-center-frame-child1"
                                         loading="lazy"
                                         alt=""
                                         src="~/public/rectangle-13-1@2x.png" />

                                    <div class="our-team-accessibility-frame4">
                                        <div class="software-engineer51">Software Engineer</div>
                                        <div class="subscribe-frame6">
                                            <img class="tdesignlocation-icon46"
                                                 loading="lazy"
                                                 alt=""
                                                 src="~/public/tdesignlocation1.svg" />

                                            <div class="west-us44">West US</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="software-engineer-box4">
                                    <div class="lorem-ipsum-is-container43">
                                        <p class="lorem-ipsum-is45">
                                            Lorem Ipsum is simply dummy text of
                                        </p>
                                        <p class="the-printing-and43">
                                            the printing and typesetting industry.
                                        </p>
                                        <p class="lorem-ipsum-has43">
                                            Lorem Ipsum has been the industry's
                                        </p>
                                        <p class="standard-dummy-text43">
                                            standard dummy text ever since the
                                        </p>
                                        <p class="p52">1500...</p>
                                    </div>
                                    <div class="frame-parent41">
                                        <button class="full-time-wrapper29">
                                            <div class="full-time49">Full-Time</div>
                                        </button>
                                        <div class="a-few-seconds-ago-wrapper6">
                                            <div class="a-few-seconds44">a few seconds ago</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="rectangle-parent88">
                                <div class="frame-child92"></div>
                                <div class="about-us-support-center-frame13">
                                    <img class="about-us-support-center-frame-child2"
                                         loading="lazy"
                                         alt=""
                                         src="~/public/rectangle-13-2@2x.png" />

                                    <div class="our-team-accessibility-frame5">
                                        <div class="software-engineer52">Software Engineer</div>
                                        <div class="subscribe-frame7">
                                            <img class="tdesignlocation-icon47"
                                                 loading="lazy"
                                                 alt=""
                                                 src="~/public/tdesignlocation1.svg" />

                                            <div class="west-us45">West US</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="software-engineer-box5">
                                    <div class="lorem-ipsum-is-container44">
                                        <p class="lorem-ipsum-is46">
                                            Lorem Ipsum is simply dummy text of
                                        </p>
                                        <p class="the-printing-and44">
                                            the printing and typesetting industry.
                                        </p>
                                        <p class="lorem-ipsum-has44">
                                            Lorem Ipsum has been the industry's
                                        </p>
                                        <p class="standard-dummy-text44">
                                            standard dummy text ever since the
                                        </p>
                                        <p class="p53">1500...</p>
                                    </div>
                                    <div class="job-post-frame5">
                                        <button class="full-time-wrapper30">
                                            <div class="full-time50">Full-Time</div>
                                        </button>
                                        <div class="a-few-seconds-ago-wrapper7">
                                            <div class="a-few-seconds45">a few seconds ago</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="company-support-frame5">
                            <div class="rectangle-parent89">
                                <div class="frame-child93"></div>
                                <div class="about-us-support-center-frame14">
                                    <img class="services-feedback-frame1"
                                         loading="lazy"
                                         alt=""
                                         src="~/public/rectangle-13@2x.png" />

                                    <div class="our-team-accessibility-frame6">
                                        <div class="software-engineer53">Software Engineer</div>
                                        <div class="subscribe-frame8">
                                            <img class="tdesignlocation-icon48"
                                                 loading="lazy"
                                                 alt=""
                                                 src="~/public/tdesignlocation1.svg" />

                                            <div class="west-us46">West US</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="software-engineer-box6">
                                    <div class="lorem-ipsum-is-container45">
                                        <p class="lorem-ipsum-is47">
                                            Lorem Ipsum is simply dummy text of
                                        </p>
                                        <p class="the-printing-and45">
                                            the printing and typesetting industry.
                                        </p>
                                        <p class="lorem-ipsum-has45">
                                            Lorem Ipsum has been the industry's
                                        </p>
                                        <p class="standard-dummy-text45">
                                            standard dummy text ever since the
                                        </p>
                                        <p class="p54">1500...</p>
                                    </div>
                                    <div class="job-post-frame6">
                                        <button class="full-time-wrapper31">
                                            <div class="full-time51">Full-Time</div>
                                        </button>
                                        <div class="a-few-seconds-ago-wrapper8">
                                            <div class="a-few-seconds46">a few seconds ago</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        @* <footer class="vector-support-rectangle">
            <img class="vector-support-rectangle-child"
                 alt=""
                 src="./public/rectangle-14.svg" />

            <div class="home-account-frame-wrapper">
                <div class="home-account-frame2">
                    <div class="company-container">
                        <b class="company8">Company</b>
                        <div class="home6">Home</div>
                        <div class="about-us7">About Us</div>
                        <div class="services6">Services</div>
                        <div class="our-team6">Our Team</div>
                    </div>
                    <div class="policy-parent2">
                        <b class="policy7">Policy</b>
                        <div class="policies6">Policies</div>
                        <div class="contact6">Contact</div>
                        <div class="faq6">FAQ</div>
                    </div>
                    <div class="support-container">
                        <b class="support6">Support</b>
                        <div class="account6">Account</div>
                        <div class="support-center6">Support Center</div>
                        <div class="feedback6">Feedback</div>
                        <div class="accessibility6">Accessibility</div>
                    </div>
                </div>
            </div>
            <div class="company-support-frame6">
                <div class="subscribe-form1">
                    <div class="subscribe-to-our6">Subscribe to our Newsletter</div>
                    <div class="copyright-message">
                        <div class="email-input-field">
                            <div class="email-field-group">
                                <div class="email-address-label">
                                    <div class="email-address-label-child"></div>
                                    <div class="email-address8">Email Address</div>
                                </div>
                                <button class="empty-frames">
                                    <div class="empty-frames-child"></div>
                                    <div class="subscribe9">Subscribe</div>
                                </button>
                            </div>
                        </div>
                        <div class="empty-frames1">
                            <img class="iconoirfacebook6"
                                 loading="lazy"
                                 alt=""
                                 src="./public/iconoirfacebook.svg" />

                            <img class="simple-iconsx6"
                                 loading="lazy"
                                 alt=""
                                 src="./public/simpleiconsx.svg" />

                            <img class="mdiinstagram-icon6"
                                 loading="lazy"
                                 alt=""
                                 src="./public/mdiinstagram.svg" />

                            <img class="rilinkedin-fill-icon6"
                                 loading="lazy"
                                 alt=""
                                 src="./public/rilinkedinfill.svg" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="figma-footer">
                <div class="figma-footer-child"></div>
                <div class="job-finder7">© 2024 Job Finder</div>
            </div>
        </footer> *@
    </div>
</body>
</html>
