<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="~/css/global.css" />
    <link rel="stylesheet" href="~/css/upload-job.css" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600;700;800;900&display=swap" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" />
</head>
<body>
    <div class="upload-job3">
        @* <header class="upload-job-frame">
            <div class="main-frame">
                <div class="job-group">
                    <b class="job3">Job</b>
                    <b class="finder3">Finder</b>
                </div>
            </div>
            <div class="find-job-frame">
                <div class="find-job3">Find Job</div>
                <div class="companies4">Companies</div>
                <div class="upload-job4">Upload Job</div>
                <div class="about3">About</div>
            </div>
            <button class="rectangle-parent55">
                <div class="frame-child58"></div>
                <b class="sign-in2">Sign In</b>
            </button>
        </header> *@
        <section class="job-post-text">
            <div class="job-title-frame">
                <div class="rectangle-parent56">
                    <div class="frame-child59"></div>
                    <div class="job-post-text1">
                        <b class="job-post">Job Post</b>
                    </div>
                    <div class="job-type-frame">
                        <div class="job-title">Job Title</div>
                        <div class="location-frame">
                            <div class="location-frame-child"></div>
                            <input class="eg-software-engineer"
                                   placeholder="eg. Software Engineer"
                                   type="text" />
                        </div>
                    </div>
                    <div class="job-details-frame">
                        <div class="job-type-frame1">
                            <div class="full-time-frame1">
                                <div class="no-of-vacancies-frame">
                                    <div class="job-type2">Job Type</div>
                                    <div class="salary-frame">
                                        <div class="salary-frame-child"></div>
                                        <input class="full-time34"
                                               placeholder="Full-Time"
                                               type="text" />

                                        <img class="phcaret-up-down-icon"
                                             alt=""
                                             src="~/public/phcaretupdown.svg" />
                                    </div>
                                </div>
                                <div class="no-of-vacancies-frame1">
                                    <div class="no-of-vacancies">No. of Vacancies</div>
                                    <div class="rectangle-parent57">
                                        <div class="frame-child60"></div>
                                        <input class="vacancies"
                                               placeholder="vacancies"
                                               type="text" />

                                        <img class="phcaret-up-down-icon1"
                                             alt=""
                                             src="~/public/phcaretupdown-1.svg" />
                                    </div>
                                </div>
                                <div class="job-location">Job Location</div>
                            </div>
                            <div class="new-york-frame">
                                <div class="unused">
                                    <div class="salary-usd">Salary (USD)</div>
                                    <div class="unused1">
                                        <div class="unused-child"></div>
                                        <input class="rg-1500"
                                               placeholder="rg. 1500"
                                               type="text" />
                                    </div>
                                </div>
                                <div class="unused2">
                                    <div class="years-of-experience">Years of Experience</div>
                                    <div class="rectangle-parent58">
                                        <div class="frame-child61"></div>
                                        <input class="experience2"
                                               placeholder="experience"
                                               type="text" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="unused3">
                            <div class="unused-item"></div>
                            <input class="eg-new-york"
                                   placeholder="eg. New York"
                                   type="text" />
                        </div>
                    </div>
                    <div class="job-description-parent">
                        <div class="job-description">Job Description</div>
                        <textarea class="rectangle-textarea" rows="{10}" cols="{45}">
              </textarea>
                    </div>
                    <div class="core-responsibilities-parent">
                        <div class="core-responsibilities">Core Responsibilities</div>
                        <textarea class="frame-child62" rows="{10}" cols="{45}">
              </textarea>
                    </div>
                    <div class="text-input-frame">
                        <button class="rectangle-parent59">
                            <div class="frame-child63"></div>
                            <b class="search3">Search</b>
                        </button>
                    </div>
                </div>
                <div class="software-engineer-container-fr">
                    <div class="frame-parent31">
                        <div class="rectangle-parent60">
                            <div class="frame-child64"></div>
                            <div class="software-engineer-rectangle-parent">
                                <img class="software-engineer-rectangle"
                                     loading="lazy"
                                     alt=""
                                     src="~/public/rectangle-13@2x.png" />

                                <div class="software-engineer-parent28">
                                    <div class="software-engineer32">Software Engineer</div>
                                    <div class="tdesignlocation-parent29">
                                        <img class="tdesignlocation-icon33"
                                             loading="lazy"
                                             alt=""
                                             src="~/public/tdesignlocation1.svg" />

                                        <div class="west-us30">West US</div>
                                    </div>
                                </div>
                            </div>
                            <div class="lorem-ipsum-is-simply-dummy-te-parent28">
                                <div class="lorem-ipsum-is-container30">
                                    <p class="lorem-ipsum-is30">
                                        Lorem Ipsum is simply dummy text of
                                    </p>
                                    <p class="the-printing-and30">
                                        the printing and typesetting industry.
                                    </p>
                                    <p class="lorem-ipsum-has30">
                                        Lorem Ipsum has been the industry's
                                    </p>
                                    <p class="standard-dummy-text30">
                                        standard dummy text ever since the
                                    </p>
                                    <p class="p39">1500...</p>
                                </div>
                                <div class="text-frame-company-home-parent">
                                    <button class="text-frame-company-home">
                                        <div class="full-time35">Full-Time</div>
                                    </button>
                                    <div class="a-few-seconds-ago-wrapper">
                                        <div class="a-few-seconds30">a few seconds ago</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="rectangle-parent61">
                            <div class="frame-child65"></div>
                            <div class="rectangle-parent62">
                                <img class="frame-child66"
                                     loading="lazy"
                                     alt=""
                                     src="~/public/rectangle-13@2x.png" />

                                <div class="software-engineer-parent29">
                                    <div class="software-engineer33">Software Engineer</div>
                                    <div class="tdesignlocation-parent30">
                                        <img class="tdesignlocation-icon34"
                                             loading="lazy"
                                             alt=""
                                             src="~/public/tdesignlocation1.svg" />

                                        <div class="west-us31">West US</div>
                                    </div>
                                </div>
                            </div>
                            <div class="lorem-ipsum-is-simply-dummy-te-parent29">
                                <div class="lorem-ipsum-is-container31">
                                    <p class="lorem-ipsum-is31">
                                        Lorem Ipsum is simply dummy text of
                                    </p>
                                    <p class="the-printing-and31">
                                        the printing and typesetting industry.
                                    </p>
                                    <p class="lorem-ipsum-has31">
                                        Lorem Ipsum has been the industry's
                                    </p>
                                    <p class="standard-dummy-text31">
                                        standard dummy text ever since the
                                    </p>
                                    <p class="p40">1500...</p>
                                </div>
                                <div class="frame-parent32">
                                    <button class="full-time-wrapper20">
                                        <div class="full-time36">Full-Time</div>
                                    </button>
                                    <div class="a-few-seconds-ago-container">
                                        <div class="a-few-seconds31">a few seconds ago</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="rectangle-parent63">
                            <div class="frame-child67"></div>
                            <div class="rectangle-parent64">
                                <img class="frame-child68"
                                     loading="lazy"
                                     alt=""
                                     src="~/public/rectangle-13@2x.png" />

                                <div class="software-engineer-parent30">
                                    <div class="software-engineer34">Software Engineer</div>
                                    <div class="tdesignlocation-parent31">
                                        <img class="tdesignlocation-icon35"
                                             loading="lazy"
                                             alt=""
                                             src="~/public/tdesignlocation1.svg" />

                                        <div class="west-us32">West US</div>
                                    </div>
                                </div>
                            </div>
                            <div class="lorem-ipsum-is-simply-dummy-te-parent30">
                                <div class="lorem-ipsum-is-container32">
                                    <p class="lorem-ipsum-is32">
                                        Lorem Ipsum is simply dummy text of
                                    </p>
                                    <p class="the-printing-and32">
                                        the printing and typesetting industry.
                                    </p>
                                    <p class="lorem-ipsum-has32">
                                        Lorem Ipsum has been the industry's
                                    </p>
                                    <p class="standard-dummy-text32">
                                        standard dummy text ever since the
                                    </p>
                                    <p class="p41">1500...</p>
                                </div>
                                <div class="frame-parent33">
                                    <button class="full-time-wrapper21">
                                        <div class="full-time37">Full-Time</div>
                                    </button>
                                    <div class="a-few-seconds-ago-frame">
                                        <div class="a-few-seconds32">a few seconds ago</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="rectangle-parent65">
                            <div class="frame-child69"></div>
                            <div class="rectangle-parent66">
                                <img class="frame-child70"
                                     loading="lazy"
                                     alt=""
                                     src="~/public/rectangle-13@2x.png" />

                                <div class="software-engineer-parent31">
                                    <div class="software-engineer35">Software Engineer</div>
                                    <div class="tdesignlocation-parent32">
                                        <img class="tdesignlocation-icon36"
                                             loading="lazy"
                                             alt=""
                                             src="~/public/tdesignlocation1.svg" />

                                        <div class="west-us33">West US</div>
                                    </div>
                                </div>
                            </div>
                            <div class="lorem-ipsum-is-simply-dummy-te-parent31">
                                <div class="lorem-ipsum-is-container33">
                                    <p class="lorem-ipsum-is33">
                                        Lorem Ipsum is simply dummy text of
                                    </p>
                                    <p class="the-printing-and33">
                                        the printing and typesetting industry.
                                    </p>
                                    <p class="lorem-ipsum-has33">
                                        Lorem Ipsum has been the industry's
                                    </p>
                                    <p class="standard-dummy-text33">
                                        standard dummy text ever since the
                                    </p>
                                    <p class="p42">1500...</p>
                                </div>
                                <div class="frame-parent34">
                                    <button class="full-time-wrapper22">
                                        <div class="full-time38">Full-Time</div>
                                    </button>
                                    <div class="a-few-seconds-ago-wrapper1">
                                        <div class="a-few-seconds33">a few seconds ago</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        @* <footer class="policies-and-contact-group">
            <img class="policies-and-contact-group-child"
                 alt=""
                 src="./public/rectangle-14.svg" />

            <div class="job-finder-frame">
                <div class="frame-parent35">
                    <div class="company-group">
                        <b class="company4">Company</b>
                        <div class="home3">Home</div>
                        <div class="about-us3">About Us</div>
                        <div class="services3">Services</div>
                        <div class="our-team3">Our Team</div>
                    </div>
                    <div class="contact-f-a-q-group">
                        <b class="policy4">Policy</b>
                        <div class="policies3">Policies</div>
                        <div class="contact3">Contact</div>
                        <div class="faq3">FAQ</div>
                    </div>
                    <div class="support-group">
                        <b class="support3">Support</b>
                        <div class="account3">Account</div>
                        <div class="support-center3">Support Center</div>
                        <div class="feedback3">Feedback</div>
                        <div class="accessibility3">Accessibility</div>
                    </div>
                </div>
            </div>
            <div class="subscribe-frame">
                <div class="facebook-icon-rect">
                    <div class="subscribe-to-our3">Subscribe to our Newsletter</div>
                    <div class="linkedin-icon-rect">
                        <div class="company-support2">
                            <div class="home-tab">
                                <div class="contact-tab">
                                    <div class="contact-tab-child"></div>
                                    <div class="email-address4">Email Address</div>
                                </div>
                                <button class="policy-tab">
                                    <div class="policy-tab-child"></div>
                                    <div class="subscribe5">Subscribe</div>
                                </button>
                            </div>
                        </div>
                        <div class="subscribe-button1">
                            <img class="iconoirfacebook3"
                                 loading="lazy"
                                 alt=""
                                 src="./public/iconoirfacebook.svg" />

                            <img class="simple-iconsx3"
                                 loading="lazy"
                                 alt=""
                                 src="./public/simpleiconsx.svg" />

                            <img class="mdiinstagram-icon3"
                                 loading="lazy"
                                 alt=""
                                 src="./public/mdiinstagram.svg" />

                            <img class="rilinkedin-fill-icon3"
                                 loading="lazy"
                                 alt=""
                                 src="./public/rilinkedinfill.svg" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-frame">
                <div class="copyright-frame-child"></div>
                <div class="job-finder3">© 2024 Job Finder</div>
            </div>
        </footer> *@
    </div>
</body>
</html>
